.comp__50-50-full-width-image-text {
  .component-reset();
  max-width: 1920px;
  margin: 0 auto;

  .fill-space {
    width: 100%;
    height: 100%;
  }

  .row {
    @media @portrait {
      .flex-wrap(wrap);
    }
  }

  .panel {
    min-height: 850px;
    @media @laptop {
      min-height: 675px;
    }
    @media @landscape {
      min-height: 512px;
    }
    @media @portrait {
      min-height: 0;
      height: auto;
    }
  }

  .panel--50 {
    @media @mobile {
      .make-col-span(12);
      max-width: 100%;
    }
  }

  .modular-copy {
    .flexbox();
    .flex-direction(column);
    .justify-content(center);
    position: relative;
    padding: 115px 150px;
    min-height: 600px;
    height: 100%;
    @media @laptop {
      padding: 115px 135px;
      max-width: auto;
      min-height: 475px;
      height: 100%;
    }
    @media @landscape {
      padding: 90px 60px;
      min-height: 332px;
      height: 100%;
    }
    @media @portrait {
      padding: 75px 50px 65px 50px;
      max-width: 100%;
      min-height: 0;
      height: auto;
    }
    @media @mobile {
      padding: 75px 35px 25px 35px;
    }
  }

  .modular-image {
    padding: 0;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    @media @mobile {
      height: 600px;
    }

    figure {
      height: 100%;
    }
  }
}
