.comp__alert-bar {
  .component-reset();
  background-color: #252AFF;

  .alert {
    .outer-gutter();
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    @media @portrait {
      line-height: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    span {
      color: @white;
      font-size: 14px;
      font-weight: @font-weight-regular;
      @media @mobile {
        font-size: 12px;
      }
    }

    a {
      color: @white;
      cursor: pointer;
      font-size: 14px;
      font-weight: @font-weight-demi;
      text-decoration: underline;
      margin-left: 12px;
      &:visited,
      &:hover {
        color: @white;
      }
      @media @mobile {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}
