.button-title-alignment {
  .comp__button-title-alignment {
    .component-reset();
  }

  &.right-aligned {
    .comp__button-title-alignment {
      .row {
        .flexbox();
        .justify-content(space-between);
        .align-items(baseline);
        .flex-wrap(nowrap);
        width: 100%;
        @media @mobile {
          .flex-wrap(wrap);
        }

        .title {
          margin-right: 18px;
          @media @mobile {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.left-aligned {
    .comp__button-title-alignment {
      .row {
        .flexbox();
        .justify-content(flex-start);
        .align-items(baseline);
        .flex-wrap(nowrap);
        width: 100%;
        @media @mobile {
          .flex-wrap(wrap);
        }

        .title {
          margin-right: 18px;
          @media @mobile {
            margin-right: 0;
          }
        }
      }
    }
  }

  .comp__button-title-alignment {
    .buttons {
      .flexbox();
      .flex-wrap(wrap);
    }

    .cmp-title__text {
      margin-bottom: 0;
      margin-bottom: 15px;
    }

    .button,
    .cmp-button {
      margin: 0;
    }

    .button {
      margin-right: 13px;
      margin-bottom: 15px;
      @media @landscape {
        margin-right: 10px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      margin-top: 0 !important;
      white-space: nowrap !important;
    }
  }
}
