.comp__centered-text-with-button {
  .component-reset();

  .panel__100 {
    padding: 0 !important;
  }

  .panel__content {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;

    h4,
    h5 {
      font-weight: 400;
    }
    @media @portrait {
      max-width: 90%;
    }
    @media @mobile {
      max-width: 100%;
    }
  }
}
