.comp__content-cards {
  .component-reset();

  //ul
  .content-cards {
    .css-grid();
    list-style: none;
    margin-bottom: 0;
    padding-inline-start: 0;
    &.three-col {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      @media @landscape {
        column-gap: 20px;
      }
      @media @portrait {
        column-gap: 12px;
      }
      @media @mobile {
        grid-template-columns: 1fr;
        column-gap: 24px;
      }
    }
    &.four-col {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
      @media @landscape {
        column-gap: 12px;
      }
      @media @portrait {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
      }
      @media @mobile {
        grid-template-columns: 1fr;
        column-gap: 24px;
      }
    }
  }

  // li
  .three-col {
    .content-card {
      margin-bottom: 24px;
      @media @landscape {
        margin-bottom: 20px;
      }
      @media @portrait {
        margin-bottom: 12px;
      }
      @media @mobile {
        margin-bottom: 24px;
      }
    }
  }

  .four-col {
    .content-card {
      margin-bottom: 16px;
      @media @landscape {
        margin-bottom: 12px;
      }
      @media @portrait {
        margin-bottom: 20px;
      }
      @media @mobile {
        margin-bottom: 24px;
      }
    }
  }

  .content-card a {
    .flexbox();
    .flex-direction(column);
    .justify-content(space-between);
    background-color: @white;
    height: 100%;
  }

  .content-card__body {
    .flexbox();
    .flex-direction(column);
    .justify-content(space-between);
    height: auto;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 25px 25px 0 25px;
    @media @portrait {
      padding: 20px 20px 0 20px;
    }
  }

  .full-width-button {
    padding: 11px 0 11px 0;
  }

  .button {
    margin-bottom: 25px;
  }

  .three-col {
    .copy {
      h6,
      h6 > p {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 20px;
        @media @portrait {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 15px;
        }
      }

      p, li, li > p {
        font-size: 16px;
        font-weight: @font-weight-regular;
        line-height: 22px;
        margin-bottom: 20px;
        @media @portrait {
          line-height: 22px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .four-col {
    .copy {
      h6,
      h6 > p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        @media @landscape {
          font-size: 16px;
          line-height: 22px;
        }
      }

      p, li, li > p {
        font-size: 14px;
        font-weight: @font-weight-regular;
        line-height: 22px;

      }
    }
  }

  &.article {
    .three-col,
    .four-col {
      .copy {
        h6,
        h6 > p {
          color: @navy-blue;
          text-decoration: underline;
        }
        p > span.date {
          font-weight: @font-weight-demi;
        }
      }
    }
  }

  &.full-image {
    .content-cards.three-col {
      .figure {
        height: 250px;
        position: relative;
        @media @laptop {
          height: 250px;
        }
        @media @landscape {
          height: 200px;
        }
        @media @portrait {
          height: 155px;
        }
        @media @mobile {
          height: 200px;
        }
      }
      .video-icon {
        .video-icon-md();

        @media @mobile {
          .video-icon-sm();
        }
      }
    }

    .content-cards.four-col {
      .figure {
        height: 185px;
        position: relative;
        @media @laptop {
          height: 185px;
        }
        @media @landscape {
          height: 140px;
        }
        @media @portrait {
          height: 155px;
        }
        @media @mobile {
          height: 200px;
        }
      }
      .video-icon {
        .video-icon-sm();
      }
    }
  }

  &.product-image {
    .content-cards.three-col {
      .figure {
        height: 405px;
        position: relative;
        @media @laptop {
          height: 405px;
        }
        @media @landscape {
          height: 300px;
        }
        @media @portrait {
          height: 250px;
        }
        @media @mobile {
          height: 300px;
        }
      }
      .video-icon {
        .video-icon-lg();
        @media @landscape {
          .video-icon-md();
        }
        @media @mobile {
          .video-icon-sm();
        }
      }
    }

    .content-cards.four-col {
      .figure {
        height: 275px;
        position: relative;
        @media @laptop {
          height: 275px;
        }
        @media @landscape {
          height: 235px;
        }
        @media @portrait {
          height: 250px;
        }
        @media @mobile {
          height: 225px;
        }
      }
      .video-icon {
        .video-icon-md();

        @media @mobile {
          .video-icon-sm();
        }
      }
    }
  }

  .button-row {
    margin-bottom: 25px;
  }

  .cta-link {
    margin-bottom: 25px;

    .link-text {
      font-size: 16px;
      @media @portrait {
        font-size: 14px;
      }
    }
  }

  /* ALIGNMENT VARIATIONS */
  &.centered {
    .content-card {
      text-align: center;
    }

    .button-row {
      .justify-content(center);
    }

    .three-col {
      .copy {
        h6,
        h6 > p {
          font-size: 18px;
          line-height: 24px;
          @media @portrait {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    .four-col {
      .copy {
        h6,
        h6 > p {
          line-height: 24px;
          margin-bottom: 10px;
          @media @landscape {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .content-card a:hover {
    cursor: pointer;
    .copy h6 {
      color: @electric-blue;
    }
    .cta-link {
      opacity: 0.75;
    }
    .full-width-button {
      color: @white;
      background-color: @electric-blue;
      border-color: @electric-blue;
    }
  }
}

.modular-listing {
  &.theme--atmospheric-white {
    .content-card {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border: 0 none;
    }
  }
  &.theme--white {
    .content-card {
      box-shadow: none;
    }
    .full-image {
      .content-card {
        border: 1px solid @lightest-gray;
      }
    }
    .product-image {
      .content-card {
        border: 1px solid @lightest-gray;
      }
    }
    .product-image.centered {
      .content-card {
        border: 0 none;
      }
    }
  }
}
