.contact-form-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: @z-index-modal-bg;
  background-color: rgba(0, 0, 0, 0.32);
  display: none;

  &.in {
    display: block;
  }
}

.contact-form-wrapper {
  max-width: 600px;
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  background-color: @white;
  z-index: @z-index-modal;
  overflow-y: scroll;
  overflow-x: clip;
  transition: 0.5s transform;
  transition-timing-function: cubic-bezier(.38,.52,.37,1);
  opacity: 1;
  display: block;
  @media @mobile {
    width: 100vw;
    height: 100vh;
  }
  &.animate {
    transform: translateX(-100vw);
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
  }
}

.contact-form {
  .component-reset();
  .clearfix();
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .main-form-area {
    padding: 40px;
    @media @laptop {
      padding: 35px 25px;
    }
    @media @mobile {
      padding: 30px 20px;
    }
  }

  /* GENERAL FORM STYLES */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: @dark-gray;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @dark-gray;
  }

  textarea {
    width: 100%;
  }

  a {
    color: @electric-blue;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
    &:visited {
      color: @electric-blue;
    }
  }

  li {
    margin-bottom: 16px;
    line-height: 1.4rem;
  }

  .checkbox-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 25px;
    li { margin-bottom: 10px; }
  }

  .radio-list {
    .flexbox();
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 25px;
    li {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }

  input[type="text"],
  input[type="time"],
  input[type="date"],
  select {
    .kill-webkit();
    border: 1px solid @light-gray;
    border-radius: 0px;
    color: @dark-gray;
    background-color: @off-white;
    font-size: 14px;
    font-weight: @font-weight-regular;
    @media @mobile {
      font-size: 12px;
    }
  }

  .input-text,
  .input-select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 10px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid @light-gray;
    border-radius: 0;
    background-color: @off-white;
    position: relative;
    display: inline-block;
  }

  input[type="checkbox"] {
    .kill-webkit();
    border: 1px solid @light-gray;
    border-radius: 0;
    background-color: @off-white;
    width: 14px;
    height: 14px;
    position: relative;
    top: 1.5px;
    margin-right: 2px;
    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"]:checked {
    border-color: @electric-blue;
    background-color: @white;
  }

  input[type="checkbox"]:checked:after {
    font-family: "MITG Icons" !important;
    content: '\e17a';
    font-size: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: @electric-blue;
  }

  input[type="radio"] {
    width: 14px;
    height: 14px;
    top: 1.5px;
  }

  select.input-select {
    background: url('../img/down-caret-dark-grey.svg') no-repeat;
    background-color: @off-white;
    background-position: right 15px top 10px;
    background-size: 16px;
    font-size: 14px;
    @media @mobile {
      font-size: 12px;
    }
  }

  .form__subheader {
    color: @dark-gray;
    font-size: 18px;
    font-weight: @font-weight-demi;
    margin-bottom: 20px;
    margin-top: 25px;
    @media @mobile {
      font-size: 16px;
    }
  }

  .form__row {
    .flexbox();
    .justify-content(space-between);
    margin-bottom: 0;
    @media @mobile {
      .flex-wrap(wrap);
    }
  }

  .form__field--100 {
    width: 100%;
  }

  .form__field--50 {
    width: 49%;
    @media @mobile {
      width: 100%;
    }
  }

  .form__field--66 {
    width: 65.5%;
    @media @mobile {
      width: 100%;
    }
  }

  .form__field--33 {
    width: 32.5%;
    @media @mobile {
      width: 100%;
    }
  }

  .form__label {
    margin: 0;
    font-size: 16px;
    color: @dark-gray;
    font-weight: @font-weight-regular;
    line-height: 1.44;
    @media @mobile {
      font-size: 14px;
    }
  }

  .form__label--block {
    display: block;
  }

  .form__label--inline {
    display: inline;
  }

  .form__label--checkbox {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    color: @dark-gray;
    > a {
      font-weight: @font-weight-demi;
    }
  }

  .form__label--radio {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    color: @dark-gray;
    > a {
      font-weight: @font-weight-demi;
    }
  }

  .disclaimer {
    font-size: 12px;
    color: @dark-gray;
    font-weight: @font-weight-regular;
    margin-bottom: 25px;
    > a {
      font-weight: @font-weight-demi;
    }
    @media @mobile {
      font-size: 10px;
    }
  }

  .error {
    font-size: 14px;
    font-weight: @font-weight-demi;
    color: #ed002a;
    display: none;
    &.is-active {
      display: block;
    }
  }

  .comp__form-button {
    .form__button {
      width: 100%;
      margin: 0;
      padding: 0;
      &.form__button--submit {
        text-align: left;
        margin-bottom: 0;
      }
    }
  }

  .form__button {
    width: 100%;
    margin: 0;
    padding: 0;
    &.form__button--cont {
      text-align: center;
      margin-top: 25px;
    }
    &.form__button--submit {
      text-align: left;
      margin-bottom: 15px;
    }
  }

  /* FORM OVERLAY HEADER */
  .comp__contact-section-copy {
    .flexbox();
    .justify-content(space-between);
    .align-items(center);

    .title {
      color: @navy-blue;
      font-size: 30px;
      font-weight: @font-weight-demi;
      line-height: 1;
      @media @laptop {
        font-size: 24px;
      }
      @media @mobile {
        font-size: 20px;
      }
    }

    .material-icons {
      color: @electric-blue;
      font-size: 40px;
      line-height: 1;
      &:hover {
        cursor: pointer;
        opacity: 0.73;
      }
      @media @laptop {
        font-size: 35px;
      }
      @media @mobile {
        font-size: 30px;
      }
    }
  }

  /* ITEM SELECTION GRID */
  .comp__contact-item-selection-grid {

    .selection-grid {
      .tiles {
        .flexbox();
        .flex-wrap(wrap);
      }

      .tile {
        .kill-webkit();
        min-width: 170px;
        width: auto;
        margin-bottom: 12px;
        .transition(border-color, 0.3s, ease-in-out);
        .transition(color, 0.3s, ease-in-out);
        border: 1px solid @light-gray;
        border-radius: 30px;
        background-color: @atmospheric-white;
        padding: 12px 28px;
        height: auto;
        text-transform: none;
        color: @dark-gray;
        font-size: 14px;
        font-weight: @font-weight-demi;
        white-space: normal;
        margin-bottom: 12px;
        margin-right: 8px;
        line-height: normal;
        &:hover {
          cursor: pointer;
          color: @electric-blue;
          border-color: @electric-blue;
        }
        &.is-selected {
          color: @electric-blue;
          border-color: @electric-blue;
        }
        @media @mobile {
          font-size: 13px;
          min-width: 130px;
          padding: 10px 25px;
        }
      }

      .user-input__wrapper {
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 25px;
      }

      .input-field {
        border: 1px solid @light-gray;
        color: @dark-gray;
        background-color: @atmospheric-white;
        font-size: 14px;
        font-weight: @font-weight-regular;
        display: block;
        text-align: left;
        padding: 10px;
        width: 100%;
        @media @mobile {
          font-size: 12px;
        }
      }

    }
  }

  /* FORM FIELD TOGGLE */
  .comp__form-field-toggle {
    margin-top: 0px;
    margin-bottom: 30px;
    .field-toggle__radios {
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-inline-start: 0;
    }
    .field-toggle__radio {
      display: inline-block;
      margin: 0px 0px 8px 0px;
      &:first-of-type {
        margin-right: 20px;
      }
    }
    .form__label--radio {
      display: inline;
      color: @dark-gray;
      padding-left: 2px;
    }
    .field-toggle__row {
      position: relative;
    }
  }
  /* END FORM FIELD TOGGLE */

  /* SUBMIT BUTTON */
  .comp__form-button {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 25px 40px;
    border-top: 1px solid @light-gray;
    background-color: @white;
    z-index: 5051;
    @media @laptop {
      padding: 20px 35px;
    }
    @media @mobile {
      padding: 20px 20px;
    }

    button[type="submit"] {
      padding: 12px 28px;
      min-width: 170px;
      @media @mobile {
        padding: 10px 25px;
        min-width: 130px;
      }
    }
  }
}
