.comp__dynamic-content {
  .component-reset();

  .video-icon {
    .video-icon-lg();
    @media @landscape {
      .video-icon-md();
    }
    @media @mobile {
      .video-icon-sm();
    }
  }

  .close-inplacevideo {
    .inplacevideo-size(3);
    .inplacevideo-position(3);
  }

  .figure {
    .align-self(center);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
  }

  .row {
    .outer-gutter();
    .make-col-span(12);
    .box-size();
  }

  .cmp-teaser__pretitle {
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    margin-bottom: 30px;
    @media @landscape {
      margin-bottom: 25px;
    }
  }

  .cmp-teaser__title > a {
    text-decoration: none;
  }

  h1.cmp-teaser__title > a,
  h2.cmp-teaser__title > a {
    border-bottom: 3px solid;
    display: inline-block;
  }

  h3.cmp-teaser__title > a,
  h4.cmp-teaser__title > a,
  h5.cmp-teaser__title > a,
  h6.cmp-teaser__title > a {
    border-bottom: 2px solid;
    display: inline-block;
  }

  .cmp-teaser__title:hover a {
    color: @electric-blue;
  }


  .cta-link:hover {
    opacity: 0.55;
  }

  &.featured-60-40--image-left,
  &.featured-40-60--image-right {
    &.theme--atmospheric-white {
      .cmp-teaser__content {
        border: 0 none;
        background-color: @white;
      }
    }
    &.theme--white {
      .cmp-teaser__content {
        border: 1px solid @lightest-gray;
      }
    }

    .row {
      @media @portrait {
        .flex-wrap(wrap);
      }
    }

    .cmp-teaser__image {
      .align-self(center);
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: block;
      position: relative;
      @media @portrait {
        height: 335px;
      }
      @media @mobile {
        height: 265px;
      }
    }

    .cmp-teaser__content {
      .vertical-align();
      width: 100%;
      padding: 100px 60px;
      @media @landscape {
        padding: 60px 45px;
      }
      @media @mobile {
        padding: 40px 30px;
      }
    }
  }


  &.featured-60-40--image-left {
    .panel:first-of-type {
      .panel-60();
      @media @portrait {
        .panel-100();
      }
    }
    .panel:last-of-type {
      .panel-40();
      @media @portrait {
        .panel-100();
      }
    }
  }

  &.featured-40-60--image-right {
    .panel:first-of-type {
      .panel-40();
      @media @portrait {
        .panel-100();
      }
    }

    .panel:last-of-type {
      .panel-60();
      @media @portrait {
        .panel-100();
      }
    }
  }

  &.author {
    .row {
      .align-items(flex-start);
      @media @mobile {
        .flex-wrap(wrap);
      }
    }

    .cmp-teaser__image {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      @media @landscape {
        height: 165px;
        width: 165px;
      }
      @media @portrait {
        height: 115px;
        width: 115px;
      }
      @media @mobile {
        height: 80px;
        width: 80px;
        display: block;
      }
    }

    .cmp-teaser__content {
      .flex-grow(2);
      padding: 20px 35px;
      @media @mobile {
        width: 100%;
        padding: 20px 0px;
      }
    }
  }

  &.featured-circle {
    .row {
      .align-items(center);
      @media @portrait {
        .flex-wrap(wrap);
      }
    }

    .cmp-teaser__image {
      .align-self(flex-end);
      height: 560px;
      width: 560px;
      border-radius: 50%;
      @media @landscape {
        height: 400px;
        width: 400px;
      }
      @media @mobile {
        height: 300px;
        width: 300px;
        display: block;
      }
    }

    .cmp-teaser__content {
      .flex-grow(2);
      padding: 20px 35px;
    }
  }
}
