.comp__expandable-content *,
.comp__expandable-content *:before,
.comp__expandable-content *:after {
  .box-size();
}

.comp__expandable-content {
  .component-reset();

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }

  .expandable-content-row {
    .make-col-span(12);
    padding: 120px 0;
    @media @landscape {
      padding: 80px 0;
    }
    @media @portrait {
      .flex-wrap(wrap);
      padding: 50px 0;
    }
    @media @mobile {
      padding: 40px 0;
    }
  }

  .expandable-content-item__preview {
    margin: 0 auto;
    line-height: 0;
    position: relative;
  }

  // .expandable-content-item.is-collapsed .expandable-content--expanded {
  //   max-height: 0;
  // }
  //
  // .expandable-content-item.is-collapsed .expanded-content__mobile-close {
  //   display: none;
  // }

  .expandable-content-item {
    @media @portrait {
      margin-bottom: 25px;
    }
  }

  .expandable-content-item .expandable-content--expanded {
    max-height: 0;
  }

  .expandable-content--expanded {
    .box-size();
    .ease-color();
    position: relative;
    overflow: hidden;
  }

  .expandable-content-item.is-expanded .expandable-content--expanded {
    padding: 20px 0px;
  }

  .expander-controller {
    .flexbox();
    .justify-content(center);
    width: 100%;
    padding: 25px 0;
  }

  .expander-controller__icon {
    .kill-webkit();
    .flexbox();
    .align-items(center);
    color: @electric-blue;
    border: 2px solid @electric-blue;
    background-color: inherit;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    z-index: 50;
    @media @landscape {
      height: 40px;
      width: 40px;
    }
    @media @portrait {
      .transform(rotate(270deg));
    }
  }

  .expander-controller__icon .material-icons-outlined {
    font-size: 30px;
    position: relative;
    @media @landscape {
      font-size: 25px;
    }
  }

  .row .expandable-content-item .expandable-content-item__preview {
    .flexbox();
    .flex-direction(column);
    .justify-content(space-between);
  }

  .preview-descr {
    flex: 1 1 auto;
  }

  .expandable-content-item__preview {
    flex: 1 1 auto;
  }

  .expandable-content-item.is-expanded .expandable-content-item__preview {
    height: auto;
  }

  .fill-space {
    width: 100%;
  }

  // COLUMN SPECIFIC CSS
  &.two-column {
    .expandable-content-item {
      .make-col-span(6);
      max-width: 50%;
      > .expandable-content-item__preview {
        border-right: 50px solid @white;
      }
      &:nth-child(2n) {
        > .expandable-content-item__preview {
          border-right: 0 none;
        }
      }
      @media @landscape {
        > .expandable-content-item__preview {
          border-right: 40px solid @white;
        }
        &:nth-child(2n) {
          border-right: 0 none;
        }
      }
      @media @portrait {
        .make-col-span(12);
        max-width: 100%;
        > .expandable-content-item__preview {
          border-right: 0 none;
          max-width: 450px;
          margin: 0 auto;
        }
      }
      @media @mobile {
        > .expandable-content-item__preview {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    .expandable-content--expanded {
      width: 200%;
      @media @portrait {
        width: auto;
      }
    }

    .preview-image {
      height: 400px;
      @media @landscape {
        height: 320px;
      }
      @media @mobile {
        height: 240px;
      }
    }

    .preview-descr {
      padding: 40px 20px 0px 20px;
      text-align: center;
      position: relative;
      @media @landscape {
        padding: 30px 30px 0px 30px;
      }
      @media @mobile {
        padding: 20px 30px 0px 30px;
      }
    }
  }

  &.three-column {
    .expandable-content-item {
      .make-col-span(4);
      max-width: 33.333333%;
      > .expandable-content-item__preview {
        border-right: 35px solid @white;
      }
      &:nth-child(3n) {
        > .expandable-content-item__preview {
          border-right: 0 none;
        }
      }
      @media @landscape {
        > .expandable-content-item__preview {
          border-right: 30px solid @white;
        }
        &:nth-child(3n) {
          > .expandable-content-item__preview {
            border-right: 0 none;
          }
        }
      }
      @media @portrait {
        .make-col-span(12);
        max-width: 100%;
        > .expandable-content-item__preview {
          border-right: 0 none;
          max-width: 300px;
          margin: 0 auto;
        }
      }
      @media @mobile {
        > .expandable-content-item__preview {
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .expandable-content--expanded {
      width: 300%;
      @media @portrait {
        width: auto;
      }
    }

    .preview-image {
      height: 300px;
      @media @landscape {
        height: 240px;
      }
    }

    .preview-descr {
      padding: 25px 25px 0px 25px;
      text-align: center;
      position: relative;
      @media @landscape {
        padding: 25px 20px 0px 20px;
      }
      @media @portrait {
        padding: 20px 25px 0px 25px;
      }
      @media @mobile {
        padding: 20px 30px 0px 30px;
      }
    }
  }

  &.four-column {
    .expandable-content-item {
      .make-col-span(3);
      max-width: 25%;
      > .expandable-content-item__preview {
        border-right: 25px solid @white;
      }
      &:nth-child(4n) {
        > .expandable-content-item__preview {
          border-right: 0 none;
        }
      }
      @media @landscape {
        > .expandable-content-item__preview {
          border-right: 20px solid @white;
        }
        &:nth-child(4n) {
          > .expandable-content-item__preview {
            border-right: 0 none;
          }
        }
      }
      @media @portrait {
        .make-col-span(12);
        max-width: 100%;
        > .expandable-content-item__preview {
          border-right: 0 none;
          max-width: 300px;
          margin: 0 auto;
        }
      }
      @media @mobile {
        > .expandable-content-item__preview {
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .expandable-content--expanded {
      width: 400%;
      @media @portrait {
        width: auto;
      }
    }

    .preview-image {
      height: 200px;
      @media @landscape {
        height: 160px;
      }
      @media @portrait {
        height: 240px;
      }
    }

    .preview-descr {
      padding: 20px 10px 0px 10px;
      text-align: center;
      position: relative;
      @media @portrait {
        padding: 20px 25px 0px 25px;
      }
      @media @mobile {
        padding: 20px 30px 0px 30px;
      }
    }
  }

  .expandable-content-item.is-expanded .expandable-content--expanded {
    .expanded-content__mobile-close {
      display: none;
      @media @portrait {
        display: block;
      }
    }
  }

  .expandable-content-item {
    .expandable-content--expanded {
      max-height: 0;

      @media @portrait {
        position: fixed;
        margin: 0;
        padding: 0;
        top: 0;
        right: -100%;
        max-height: 100%;
        height: 100vh;
        width: 100vw;
        z-index: 2500;
        background-color: @white;
        overflow-y: auto;
        transition: 0.5s transform;
        transition-timing-function: cubic-bezier(.38,.52,.37,1);
        display: block;
      }
    }
    .expanded-content__mobile-close {
      @media @portrait {
        display: block;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        padding: 12px 15px;
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        color: @electric-blue;
        background-color: @white;
        font-size: 16px;
        margin-bottom: 30px;
        &:hover {
          cursor: pointer;
        }

        .material-icons-outlined {
          position: relative;
          top: 1px;
          font-size: 12px;
          margin-right: 4px;
        }
      }
    }
  }
  .expandable-content-item.is-expanded .expandable-content--expanded {
    max-height: 100%;
    height: 100%;
    @media @portrait {
      height: 100%;
      transform: translateX(-100vw);
      padding: 0px 0px !important;
    }
  }





  // THEME SPECIFIC CSS
  &.theme--white {
    // icon colors
    .expander-controller__icon {
      .ease-all();
      color: @electric-blue;
      border: 2px solid @electric-blue;
    }
    .expander-controller__icon .material-icons-outlined {
      .ease-all();
      color: @electric-blue;
    }
    // border colors
    .expandable-content-item__preview {
      .ease-all();
      border-color: @white;
    }
    // hover effects
    .expandable-content-item:hover,
    .expandable-content-item.has-active-styles {
      .preview-content-wrapper {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }
      .expander-controller__icon {
        background-color: @electric-blue;
        color: @white;
        border-color: @electric-blue;
      }
      .expander-controller__icon .material-icons-outlined {
        color: @white;
      }
    }
  }

  &.theme--atmospheric-white {
    // icon colors
    .expander-controller__icon {
      .ease-all();
      color: @electric-blue;
      border: 2px solid @electric-blue;
    }
    .expander-controller__icon .material-icons-outlined {
      .ease-all();
      color: @electric-blue;
    }
    // border colors
    .expandable-content-item__preview {
      .ease-all();
      border-color: @atmospheric-white !important;
    }
    .expandable-content-item:hover,
    .expandable-content-item.has-active-styles {
      .preview-content-wrapper {
        background-color: @white;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }
      .expander-controller__icon {
        background-color: @electric-blue;
        color: @white;
        border-color: @electric-blue;
      }
      .expander-controller__icon .material-icons-outlined {
        color: @white;
      }
    }
  }

  &.theme--electric-blue {
    // icon colors
    .expander-controller__icon {
      .ease-all();
      color: @white;
      border: 2px solid @white;
    }
    .expander-controller__icon .material-icons-outlined {
      .ease-all();
      color: @white;
    }
    // border colors
    .expandable-content-item__preview {
      .ease-all();
      border-color: @electric-blue !important;
    }
    .expandable-content-item:hover,
    .expandable-content-item.has-active-styles {
      .preview-content-wrapper {
        background-color: @white;
      }
      .preview-descr__content {
        background-color: @white;

        h1, h1 > p,
        h2, h2 > p,
        h3, h3 > p {
          color: @navy-blue;
        }

        h4, h4 > p {
          color: @navy-blue;
          font-weight: 600;
        }

        h5, h5 > p,
        h6, h6 > p {
          color: @dark-gray;
        }

        .pretitle {
          color: @electric-blue;
        }

        .alt-title {
          color: @medium-gray;
        }

        .title-link {
          color: @dark-gray;
        }

        p {
          color: @dark-gray;
        }

        p > a {
          color: @electric-blue;
          &:hover,
          &:visited {
            color: @electric-blue;
          }
        }

        ul, li {
          color: @medium-gray;
        }

        li > a {
          color: @medium-gray;
          &:visited {
            color: @medium-gray;
          }
        }

        .list {
          li,
          li > a {
            color: @medium-gray;
          }

          &.list--circle-icon {
            li {
              .material-icons {
                color: @medium-gray;
              }
            }
          }
        }

        .modular-copy.stylized-list ul li:before {
          color: @electric-blue;
        }

        .section-link {
          color: @electric-blue;
        }

        .cta-link {
          color: @electric-blue;
        }

        a.dynamic-width-button--solid,
        button.dynamic-width-button--solid,
        span.dynamic-width-button--solid {
          .solid-button(@white, @electric-blue, @white);
        }

        .dynamic-width-button--solid {
          a.dynamic-width-button,
          button.dynamic-width-button,
          span.dynamic-width-button {
            .solid-button(@white, @electric-blue, @white);
          }
        }

        a.dynamic-width-button--ghost,
        button.dynamic-width-button--ghost,
        span.dynamic-width-button--ghost {
          .ghost-button(@electric-blue, inherit, @white);
        }

        .dynamic-width-button--ghost {
          a.dynamic-width-button,
          button.dynamic-width-button,
          span.dynamic-width-button {
            .ghost-button(@electric-blue, inherit, @white);
          }
        }
      }
      .expander-controller__icon {
        background-color: @electric-blue;
        color: @white;
        border-color: @electric-blue;
      }
      .expander-controller__icon .material-icons-outlined {
        color: @white;
      }
    }
  }

  &.theme--navy-blue {
    // icon colors
    .expander-controller__icon {
      .ease-all();
      color: @white;
      border: 2px solid @white;
    }
    .expander-controller__icon .material-icons-outlined {
      .ease-all();
      color: @white;
    }
    // border colors
    .expandable-content-item__preview {
      .ease-all();
      border-color: @navy-blue !important;
    }
    .expandable-content-item:hover,
    .expandable-content-item.has-active-styles {
      .preview-content-wrapper {
        background-color: @white;
      }
      .preview-descr__content {
        background-color: @white;

        h1, h1 > p,
        h2, h2 > p,
        h3, h3 > p {
          color: @navy-blue;
        }

        h4, h4 > p {
          color: @navy-blue;
          font-weight: 600;
        }

        h5, h5 > p,
        h6, h6 > p {
          color: @dark-gray;
        }

        .pretitle {
          color: @electric-blue;
        }

        .alt-title {
          color: @medium-gray;
        }

        .title-link {
          color: @dark-gray;
        }

        p {
          color: @dark-gray;
        }

        p > a {
          color: @electric-blue;
          &:hover,
          &:visited {
            color: @electric-blue;
          }
        }

        ul, li {
          color: @medium-gray;
        }

        li > a {
          color: @medium-gray;
          &:visited {
            color: @medium-gray;
          }
        }

        .list {
          li,
          li > a {
            color: @medium-gray;
          }

          &.list--circle-icon {
            li {
              .material-icons {
                color: @medium-gray;
              }
            }
          }
        }

        .modular-copy.stylized-list ul li:before {
          color: @electric-blue;
        }

        .section-link {
          color: @electric-blue;
        }

        .cta-link {
          color: @electric-blue;
        }

        a.dynamic-width-button--solid,
        button.dynamic-width-button--solid,
        span.dynamic-width-button--solid {
          .solid-button(@white, @electric-blue, @white);
        }

        .dynamic-width-button--solid {
          a.dynamic-width-button,
          button.dynamic-width-button,
          span.dynamic-width-button {
            .solid-button(@white, @electric-blue, @white);
          }
        }

        a.dynamic-width-button--ghost,
        button.dynamic-width-button--ghost,
        span.dynamic-width-button--ghost {
          .ghost-button(@electric-blue, inherit, @white);
        }

        .dynamic-width-button--ghost {
          a.dynamic-width-button,
          button.dynamic-width-button,
          span.dynamic-width-button {
            .ghost-button(@electric-blue, inherit, @white);
          }
        }
      }
      .expander-controller__icon {
        background-color: @electric-blue;
        color: @white;
        border-color: @electric-blue;
      }
      .expander-controller__icon .material-icons-outlined {
        color: @white;
      }
    }
  }

  &.theme--black {
    // icon colors
    .expander-controller__icon {
      .ease-all();
      color: @white;
      border: 2px solid @white;
    }
    .expander-controller__icon .material-icons-outlined {
      .ease-all();
      color: @white;
    }
    // border colors
    .expandable-content-item__preview {
      .ease-all();
      border-color: @black !important;
    }
    .expandable-content-item:hover,
    .expandable-content-item.has-active-styles {
      .preview-content-wrapper {
        background-color: @white;
      }
      .preview-descr__content {
        background-color: @white;

        h1, h1 > p,
        h2, h2 > p,
        h3, h3 > p {
          color: @navy-blue;
        }

        h4, h4 > p {
          color: @navy-blue;
          font-weight: 600;
        }

        h5, h5 > p,
        h6, h6 > p {
          color: @dark-gray;
        }

        .pretitle {
          color: @electric-blue;
        }

        .alt-title {
          color: @medium-gray;
        }

        .title-link {
          color: @dark-gray;
        }

        p {
          color: @dark-gray;
        }

        p > a {
          color: @electric-blue;
          &:hover,
          &:visited {
            color: @electric-blue;
          }
        }

        ul, li {
          color: @medium-gray;
        }

        li > a {
          color: @medium-gray;
          &:visited {
            color: @medium-gray;
          }
        }

        .list {
          li,
          li > a {
            color: @medium-gray;
          }

          &.list--circle-icon {
            li {
              .material-icons {
                color: @medium-gray;
              }
            }
          }
        }

        .modular-copy.stylized-list ul li:before {
          color: @electric-blue;
        }

        .section-link {
          color: @electric-blue;
        }

        .cta-link {
          color: @electric-blue;
        }

        a.dynamic-width-button--solid,
        button.dynamic-width-button--solid,
        span.dynamic-width-button--solid {
          .solid-button(@white, @electric-blue, @white);
        }

        .dynamic-width-button--solid {
          a.dynamic-width-button,
          button.dynamic-width-button,
          span.dynamic-width-button {
            .solid-button(@white, @electric-blue, @white);
          }
        }

        a.dynamic-width-button--ghost,
        button.dynamic-width-button--ghost,
        span.dynamic-width-button--ghost {
          .ghost-button(@electric-blue, inherit, @white);
        }

        .dynamic-width-button--ghost {
          a.dynamic-width-button,
          button.dynamic-width-button,
          span.dynamic-width-button {
            .ghost-button(@electric-blue, inherit, @white);
          }
        }
      }
      .expander-controller__icon {
        background-color: @electric-blue;
        color: @white;
        border-color: @electric-blue;
      }
      .expander-controller__icon .material-icons-outlined {
        color: @white;
      }
    }
  }

  .expandable-content--expanded {
    position: relative;
    overflow: hidden;
  }


  .preview-content-wrapper {
    height: 100%;
  }
}

.expanded-content-container {
  .make-col-span(12);
  .flexbox();
  .flex-wrap(nowrap);
  .align-items(center);
  width: 100%;

  @media @portrait {
    display: block;
    height: 100%;
    width: 100%;
    // margin-bottom: 2rem;
  }
}
