.comp__featured-mixed-content {
  .component-reset();

  .row {
    @media @portrait {
      .flex-wrap(wrap);
    }
  }

  .fill-space {
    height: 100%;
    width: 100%;
  }

  .container-1 {
    .make-col-span(6);
    @media @portrait {
      .make-col-span(12);
    }

    .fill-space {
      .flexbox();
      .flex-direction(column);
    }

    .modular-image {
      .flexbox();
      .flex-flow(column);
      height: inherit;
    }
  }

  .container-2 {
    .make-col-span(6);
    @media @portrait {
      .make-col-span(12);
    }
  }

  .copy {
    h3, h4, h5, h6 {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 15px;
    }

    .button-row {
      margin-bottom: 25px;
    }
  }

  .grid-container-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    @media @laptop {
      column-gap: 25px;
    }
    @media @landscape {
      column-gap: 20px;
    }
    @media @mobile {
      column-gap: 12px;
    }
  }

  .grid-item {
    grid-template-columns: 1fr;

    .video-icon {
      .video-icon-md();
      @media @landscape {
        .video-icon-sm();
      }
      @media @mobile {
        .video-icon-xs();
      }
    }
  }

  .figure,
  img {
    max-width: 100%;
    display: block;
    position: relative;
  }

  .grid-item .figure {
    height: 270px;
    @media @laptop {
      height: 260px;
    }
    @media @landscape {
      height: 250px;
    }
    @media @portrait {
      height: 300px;
    }
    @media @mobile {
      height: 140px;
    }
  }

  .container-1 {
    padding-right: 30px;
    @media @portrait {
      padding-right: 0;
    }

    .video-icon {
      .video-icon-lg();
      @media @mobile {
        .video-icon-md();
      }
    }

    .modular-image {
      height: 90%;
      @media @portrait {
        height: auto;
      }
    }

    .figure {
      height: 100%;
      @media @portrait {
        height: 715px;
      }
      @media @mobile {
        height: 350px;
      }
    }
  }

  .grid-item-2,
  .grid-item-3 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid-item-4,
  .grid-item-5 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .section-link {
    margin-top: 40px;
    @media @mobile {
      margin-top: 25px;
    }
  }

}
