.modular-fixed-nav {
  .box-size();
  margin-top: 20px;
  height: 146px;
  @media @landscape {
    margin-top: 0;
    height: 106px;
  }
  @media @portrait {
    height: 81px;
  }
  @media @mobile {
    height: 61px;
  }

  .comp__fixed-navigation {

    .fixed-nav-wrapper {
      .flexbox();
      .align-content(center);
      height: 146px;
      @media @landscape {
        height: 106px;
      }
      @media @portrait {
        height: 80px;
      }
      @media @mobile {
        display: block;
        height: 60px;
        padding-left: 0;
        padding-right: 0;
      }

      &.is-open {
        padding-bottom: 20px;
        height: auto;
        position: relative;
        z-index: 50000;
        @media @mobile {
          padding-bottom: 5px;
        }
      }
    }

    .fixed-nav {
      .flexbox();
      .flex-wrap(nowrap);
      .justify-content(space-between);
      .align-items(center);
      .outer-gutter();
      width: 100%;
      position: relative;
      @media @laptop {
        padding-left: 0px;
        padding-right: 0px;
      }
      @media @landscape {
        .align-items(flex-start);
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
      }
      @media @portrait {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
      }
      @media @mobile {
        .flex-wrap(wrap);
        .align-items(center);
        padding-top: 0;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .main {
      .flexbox();
      .flex-direction(column);
      flex: 1 1 0;
      @media @landscape {
        width: auto;
        flex: unset;
      }
      @media @mobile {
        box-shadow: none;
        width: 100%;
      }
    }

    .title {
      display: block;
      @media @mobile {
        width: 100%;
        height: 60px;
        line-height: 60px;
        position: relative;
      }
    }

    .title-link {
      display: block;
      font-size: 22px;
      font-weight: @font-weight-demi;
      margin-bottom: 15px;
      @media @landscape {
        font-size: 15px;
        width: auto;
        padding: 0px;
        margin-bottom: 0;
      }

      .material-icons {
        display: none;
        @media @landscape {
          margin-left: 15px;
          font-size: 30px;
          display: inline-block;
          position: relative;
          top: 10px;
        }
        @media @mobile {
          float: right;
          top: 13px;
        }
      }
    }

    // ul
    .menu {
      list-style-type: none;
      padding-inline-start: 0;
      margin: 0;
      @media @landscape {
        display: none;
        padding: 15px 0;
        line-height: 105px;
        vertical-align: middle;
        &.is-open {
          display: block;
          z-index: 1002;
        }
      }
    }

    // li
    .menu-link {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;

      &.is-active {
        a { font-weight: @font-weight-demi; }
      }
      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 16px;
        font-weight: 400;
        &:hover {
          opacity: 0.6;
        }
      }

      @media @landscape {
        display: block;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .links {
      @media @mobile {
        display: none;
        padding: 15px 0px 20px 0px;
        &.is-open {
          display: block;
          width: 100%;
        }
      }
    }

    .dynamic-width-button {
      padding: 14px 32px;
      margin-top: 0 !important;
      @media @mobile {
        padding: 8px 28px;
      }
    }
  }
}

.modular-fixed-nav.theme--white {
  .fixed-nav {
    border-top: 1px solid #DCDCDC;
  }
}

.modular-fixed-nav.theme--white {
  .comp__fixed-navigation,
  .fixed-nav-wrapper {
    .theme--white();
  }
}

.modular-fixed-nav.theme--atmospheric-white {
  .comp__fixed-navigation,
  .fixed-nav-wrapper {
    .theme--atmospheric-white();
  }
}

.modular-fixed-nav.theme--navy-blue {
  .comp__fixed-navigation,
  .fixed-nav-wrapper {
    .theme--navy-blue();
  }
}

.modular-fixed-nav.theme--electric-blue {
  .comp__fixed-navigation,
  .fixed-nav-wrapper {
    .theme--electric-blue();
  }
}

.modular-fixed-nav.theme--black {
  .comp__fixed-navigation,
  .fixed-nav-wrapper {
    .theme--black();
  }
}

.modular-fixed-nav.has-fixed-styles {
  .theme--white();
  height: 116px;
  @media @landscape {
    height: 100px;
  }
  @media @portrait {
    height: 80px;
  }
  @media @mobile {
    height: 60px;
  }

  .comp__fixed-navigation {
    .theme--white();
  }

  .fixed-nav-wrapper {
    .theme--white();
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    margin-top: 0;
    height: 96px;
    @media @landscape {
      height: 100px;
    }
    @media @portrait {
      height: 80px;
    }
    @media @mobile {
      height: 60px;
    }
    &.is-open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: auto;
    }
  }

  .fixed-nav {
    border-top: 0 none;
  }

  // li
  .menu-link {
    a {
      color: @dark-gray;
      &:visited {
        color: @dark-gray;
      }
    }
  }

  .dynamic-width-button--ghost {
    a.dynamic-width-button {
      .solid-button(@white, @electric-blue, @white) !important;
      padding: 14px 32px;
      margin-top: 0 !important;
      @media @mobile {
        padding: 8px 28px;
      }
    }
  }
}
