.comp__footnotes {
  width: 100%;
  margin: auto;

  .footnotes {
    width: 100%;
    column-count: 1;

    ul {
      margin: 0;
      padding: 0;
      padding-left: 1%;
      list-style: none;
    }

    li {
      margin-bottom: 1rem;
      font-size: @font-size-ref;
      color: @charcoal-gray;
    }

    @media @portrait {
      width: 100%;
    }
  }
}
