.comp__full-width-image-banner {
  .component-reset();
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .image {
    height: 900px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media @laptop {
      height: 800px;
    }
    @media @mobile {
      height: 615px;
    }
  }

  .text-overlay-container {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  .textblock-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .textblock {
    .flexbox();
    .align-items(center);
    background-color: transparent;
    max-width: 640px;
    width: 100%;
    height: 900px;
    z-index: 2;
    @media @laptop {
      height: 800px;
      max-width: 550px;
      padding-left: 35px;
      padding-right: 0;
    }
    @media @landscape {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media @portrait {
      max-width: 100%;
      padding-left: 35px;
      padding-right: 35px;
    }
    @media @mobile {
      height: 615px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .textblock__copy {
    color: @white;
    font-weight: @font-weight-demi;

    &.dynamic-width-button--solid {
      a.dynamic-width-button,
      button.dynamic-width-button,
      span.dynamic-width-button {
        .solid-button(@white, @electric-blue, @white);
      }
    }
  }

  a.dynamic-width-button--solid,
  button.dynamic-width-button--solid,
  span.dynamic-width-button--solid {
    .solid-button(@white, @electric-blue, @white);
  }

  a.dynamic-width-button--ghost,
  button.dynamic-width-button--ghost,
  span.dynamic-width-button--ghost {
    .ghost-button(@white, transparent, @electric-blue);
  }

  .app-download__title {
    color: @white;
  }
}
