.comp__hcp-popup {
  .component-reset();
  .theme--white();

  .modal {
    width: 925px;
    @media @landscape {
      width: 700px;
    }
    @media @portrait {
      width: 80%;
    }
    @media @mobile {
      width: 90%;
    }
  }

  .modal-overlay {
    &.in {
      opacity: 0.32;
    }
  }

  .hcp-popup {
    margin: 0 auto;
    padding: 90px;
    background-color: @white;
    @media @landscape {
      padding: 70px;
    }
    @media @portrait {
      padding: 60px;
    }
    @media @mobile {
      padding: 40px 25px;
    }

    h5 {
      color: @navy-blue;
      font-weight: @font-weight-demi;
      @media @landscape {
        font-size: 20px;
      }
    }

    p {
      color: @dark-gray;
      font-weight: 400;
      @media @mobile {
        font-size: 14px;
      }
    }

    a {
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
      @media @mobile {
        display: block;
        width: 100%;
      }
    }
  }

  .hcp-button--solid {
    .dynamic-width-button();
    .solid-button(@white, @electric-blue, @white);
    font-size: 16px;
    padding: 15px 50px;
    text-transform: none;
    @media @mobile {
      width: 100%;
    }
  }
  .hcp-button--phantom {
    .dynamic-width-button();
    .phantom-button(@electric-blue);
    font-size: 16px;
    padding: 15px 30px;
    span {
      padding-bottom: 5px;
      border-bottom: 2px solid @electric-blue;
    }
    &:visited {
      color: @electric-blue;
    }
    @media @mobile {
      width: 100%;
    }
  }

}
