@header-padding-tb: 0 15px;
@header-padding-mb: 0 12px;
@flyout-width-tb: 375px;

/* BEGIN COVEO SEARCH CSS */

.coveo-visible-to-screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.CoveoSearchInterface {
  font-family: 'Avenir Next World W05', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #3c3c3c;
}

.CoveoSearchInterface .coveo-facet-column {
  display: block;
}

@media only screen and (max-width: 768px) {
  .CoveoSearchInterface .coveo-facet-column {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0 auto;
    margin-right: 0;
  }

  .CoveoSearchInterface .coveo-facet-column.facets-on-mobile {
    display: block;
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .CoveoSearchInterface .coveo-facet-column {
    display: block;
    opacity: 1;
  }
}

.CoveoSearchInterface .coveo-facet-header-filter-by-container {
  display: block;
  background-color: #140F4B;
  color: #FFFFFF;
  padding: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.CoveoSearchInterface .coveo-facet-header-filter-by {
  font-size: 18px;
  font-size: 1.125rem;
  color: #FFFFFF;
  display: block;
}

.CoveoSearchInterface .coveo-facet-header {
  background-color: #FFFFFF;
  color: #3c3c3c;
  padding: 25px;
}

.CoveoSearchInterface .coveo-facet-footer {
  background-color: #FFFFFF;
  color: #3c3c3c;
}

.CoveoSearchInterface .searchWrapper {
  width: 100%;
  background-color: #FFFFFF !important;
}

.CoveoSearchInterface .CoveoSearchbox .magic-box {
  border: 1px solid #bfbfbf;
  border-radius: 40px;
  color: #3c3c3c;
  /* height: 54px; */
}
    @media only screen and (max-width: 768px) {
      .CoveoSearchInterface .CoveoSearchbox .magic-box {
        height: 50px;
      }
    }
    .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input {
      border-radius: 40px;
    }

    .CoveoSearchInterface .search-tips-container,
     .CoveoSearchInterface .search-tips-container a {
      padding-bottom: 20px;
      color: #140F4B;
    }
    .CoveoSearchInterface .search-tips {
      text-decoration: none;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 600;
    }
    .CoveoSearchInterface .search-tips:hover,
    .CoveoSearchInterface .search-tips:focus {
      text-decoration: underline;
      cursor: pointer;
    }
    .CoveoSearchInterface .search-tips:hover > i,
    .CoveoSearchInterface .search-tips:focus > i {
      text-decoration: none !important;
    }
    .CoveoSearchInterface .search-tips .mi {
      position: relative;
      top: 1px;
      margin-right: 4px;
    }
    .CoveoSearchInterface .search-tips:hover {
      cursor: pointer;
    }
    .CoveoSearchInterface .coveo-tab-section {
      display: none;
    }
    .CoveoSearchInterface .coveo-search-section {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .CoveoSearchInterface .CoveoSearchButton {
      background-color: transparent;
      border: 0 none;
      border-radius: 0;
      position: absolute;
      left: 11px;
      top: 4px;
      color: #3c3c3c !important;
    }
    @media only screen and (max-width: 768px) {
      .CoveoSearchInterface .CoveoSearchButton {
        height: 15px;
        width: 15px;
        left: 6px;
        top: 11px;
      }
    }
    .CoveoSearchInterface .coveo-search-button-svg {
      color: #555555 !important;
    }
    .CoveoSearchInterface .coveo-search-button-svg:hover,
    .CoveoSearchInterface .coveo-search-button-svg:visited,
    .CoveoSearchInterface .coveo-search-button-svg:active,
    .CoveoSearchInterface .coveo-search-button-svg:link {
      color: #555555;
    }
    .CoveoSearchInterface .CoveoSearchButton:hover .coveo-magnifier-circle-svg {
      fill: #555555;
      color: #555555;
    }
    .CoveoSearchInterface .CoveoQuerySummary {
      font-size: 18px;
      font-size: 1.125rem;
      color: #3c3c3c;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-query-summary-no-results-string {
      font-size: 12px;
      color: #888B8D;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-highlight,
    .CoveoSearchInterface .highlight {
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-results-header {
      box-shadow: none;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    .CoveoSearchInterface .coveo-list-layout.CoveoResult {
      border-bottom: 0 none;
      padding: 0 0;
    }
    .CoveoSearchInterface .CoveoResultList {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
      margin-right: 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .CoveoResultList {
        margin-top: 0;
      }
    }
    .CoveoSearchInterface a.CoveoResultLink {
      font-size: 20px;
      font-size: 1.25rem;
      color: #140F4B;
      font-weight: 600;
      text-decoration: underline;
    }
    .CoveoSearchInterface a.CoveoResultLink:visited,
    .CoveoSearchInterface a.CoveoResultLink:hover {
      text-decoration: underline;
      color: #140F4B;
    }
    .CoveoSearchInterface a.CoveoResultLink:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface a.CoveoResultLink {
        font-size: 16px;
      }
    }
    .CoveoSearchInterface .CoveoPager {
      zoom: 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      padding-bottom: 70px;
      padding-top: 70px;
      padding-left: 20px;
      background-color: #FFFFFF;
    }
    .CoveoSearchInterface .CoveoPager:before,
    .CoveoSearchInterface .CoveoPager:after {
      content: " ";
      display: table;
    }
    .CoveoSearchInterface .CoveoPager:after {
      clear: both;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .CoveoPager {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
      }
    }
    .CoveoSearchInterface .coveo-pager-list {
      display: inline-block;
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 0;
      position: relative;
    }
    .CoveoSearchInterface .coveo-pager-list-item {
      margin: 0;
      padding: 0;
      border: 0 none;
      border-radius: 0px;
    }
    .CoveoSearchInterface .coveo-pager-list-item.coveo-active,
    .CoveoSearchInterface .coveo-pager-list-item:hover {
      color: #FFFFFF;
      background-color: #140F4B;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text {
      position: relative;
      float: left;
      height: 55px;
      width: 55px;
      line-height: 55px;
      vertical-align: middle;
      text-align: center;
      color: #FFFFFF;
      background-color: #001E46;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 1px;
      margin-bottom: 0;
      text-decoration: none;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text:visited {
      color: #FFFFFF;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text:hover {
      background-color: #140F4B;
      cursor: pointer;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text.is-active {
      color: #FFFFFF;
      cursor: pointer;
      background-color: #140F4B;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text.is-disabled {
      cursor: text;
    }
    .CoveoSearchInterface .coveo-pager-list-item-text.is-disabled:hover {
      cursor: text;
      background-color: #001E46;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-pager-list-item-text {
        height: 40px;
        width: 40px;
        line-height: 40px;
      }
    }
    .CoveoSearchInterface .coveo-pager-list-item:first-child > .coveo-pager-list-item-text {
      margin-left: 0px;
    }
    .CoveoSearchInterface .coveo-pager-list-item.coveo-active a,
    .CoveoSearchInterface .coveo-pager-list-item:hover a {
      color: #FFFFFF;
    }
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item,
    .CoveoSearchInterface .coveo-pager-next.coveo-pager-list-item {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item {
      left: -40px;
    }
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item.coveo-active,
    .CoveoSearchInterface .coveo-pager-next.coveo-pager-list-item.coveo-active,
    .CoveoSearchInterface .coveo-pager-previous.coveo-pager-list-item:hover,
    .CoveoSearchInterface .coveo-pager-next.coveo-pager-list-item:hover {
      color: #001E46;
      background-color: #FFFFFF;
    }
    .CoveoSearchInterface .coveo-pager-next-icon-svg,
    .CoveoSearchInterface .coveo-pager-previous-icon-svg {
      color: #001E46;
    }
    .CoveoSearchInterface .coveo-facet-header-title {
      font-size: 16px;
      font-size: 1rem;
      color: #3c3c3c;
      font-weight: 600;
      font-family: 'Effra';
      margin-bottom: 0px;
    }
    .CoveoSearchInterface .coveo-facet-values {
      padding: 0px 0px;
    }
    .CoveoSearchInterface .coveo-facet-value-label {
      padding: 0px 0px 20px 0px;
    }
    .CoveoSearchInterface .coveo-facet-value-caption {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-facet-value {
      padding: 0 25px;
    }
    .CoveoSearchInterface .coveo-facet-value .coveo-facet-value-checkbox {
      border-radius: 0px;
    }
    .CoveoSearchInterface .coveo-facet-value-count {
      display: none;
    }
    .CoveoSearchInterface .coveo-facet-more-icon, .coveo-facet-less-icon {
      top: 2px;
    }
    .CoveoSearchInterface .coveo-facet-more, .coveo-facet-less {
      height: 25px;
    }
    .CoveoSearchInterface .coveo-result-cell {
      color: #3c3c3c;
      font-weight: 400;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-result-cell {
        color: #888B8D;
        font-size: 14px;
      }
    }
    .CoveoSearchInterface .coveo-result-frame .coveo-result-row,
    .CoveoSearchInterface .CoveoResult.coveo-result-frame .coveo-result-row {
      margin: 0 0;
    }
    .CoveoSearchInterface .coveo-result-frame .coveo-result-row:nth-child(2),
    .CoveoSearchInterface .CoveoResult.coveo-result-frame .coveo-result-row:nth-child(2) {
      margin: 0 0 40px 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-result-frame .coveo-result-row:nth-child(2),
      .CoveoSearchInterface .CoveoResult.coveo-result-frame .coveo-result-row:nth-child(2) {
        margin: 0 0 35px 0;
      }
    }
    .CoveoSearchInterface .coveo-result-row .coveo-result-cell .coveo-result-row:first-child {
      margin: 0 0 20px 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-result-row .coveo-result-cell .coveo-result-row:first-child {
        margin: 0 0 15px 0;
      }
    }
    .CoveoSearchInterface .coveo-breadcrumb-items {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0;
      padding-bottom: 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-breadcrumb-items {
        display: inline;
      }
    }
    .CoveoSearchInterface .coveo-breadcrumb-item {
      margin: 0 0;
    }
    @media only screen and (max-width: 500px) {
      .CoveoSearchInterface .coveo-breadcrumb-item {
        margin-bottom: 10px;
      }
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-title {
      display: none;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value .coveo-selected {
      color: #3c3c3c;
      border: 1px solid #888B8D;
      font-size: 12px;
      padding: 5px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value {
      color: #3c3c3c;
      border: 1px solid #888B8D;
      font-size: 12px;
      padding: 5px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value.coveo-selected *,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value.coveo-selected * {
      color: #3c3c3c;
      font-weight: 400;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-clear {
      top: -1px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value .coveo-exclusion-svg,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value .coveo-exclusion-svg {
      fill: #53565A;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value:hover .coveo-facet-breadcrumb-clear .coveo-exclusion-svg,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value:hover .coveo-facet-breadcrumb-clear .coveo-exclusion-svg {
      fill: #53565A;
    }
    .CoveoSearchInterface .coveo-breadcrumb-clear-all-icon {
      margin-right: 0px;
    }
    .CoveoSearchInterface .coveo-breadcrumb-clear-all .coveo-breadcrumb-clear-all-icon svg {
      display: none;
      width: 0px;
      height: 0px;
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value:hover,
    .CoveoSearchInterface .coveo-facet-breadcrumb-value:hover a,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value:hover,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value:hover a {
      text-decoration: none;
    }
    .CoveoSearchInterface .coveo-breadcrumb-clear-all {
      color: #140F4B;
      border-color: #140F4B;
      border-radius: 0px;
      font-size: 12px;
      padding: 5px;
      text-transform: uppercase;
      margin-left: 0;
    }
    .CoveoSearchInterface .CoveoBreadcrumb {
      border-bottom: 0 none;
    }
    @media only screen and (max-width: 768px) {
      .CoveoSearchInterface .CoveoBreadcrumb {
        flex-wrap: wrap;
      }
    }
    .CoveoSearchInterface .coveo-facet-breadcrumb-value,
    .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value {
      margin-left: 0px;
      margin-right: 7px;
    }
    .CoveoFacet,
    .CoveoFacetRange,
    .CoveoFacetSlider,
    .CoveoHierarchicalFacet,
    .CoveoCategoryFacet {
      margin: 0;
      border: 1px solid #B1B3B3;
      border-top: 1px solid #B1B3B3;
      border-right: 1px solid #B1B3B3;
      border-bottom: 0 none;
      border-left: 1px solid #B1B3B3;
      border-radius: 0px;
    }
    @media only screen and (max-width: 768px) {
      .CoveoFacet,
      .CoveoFacetRange,
      .CoveoFacetSlider,
      .CoveoHierarchicalFacet,
      .CoveoCategoryFacet {
        border-left: 0 none;
        border-right: 0 none;
      }
    }
    .CoveoFacet:nth-last-child(2) {
      border-bottom: 1px solid #B1B3B3;
    }
    @media only screen and (max-width: 768px) {
      .CoveoFacet:nth-last-child(2) {
        border-bottom: 0 none;
      }
    }
    .CoveoSearchbox .magic-box .magic-box-input > input {
        color: #3c3c3c;
    }
    @media (max-width: 480px) {
      .CoveoSearchInterface .CoveoSearchbox {
        max-width: 100%;
        margin-right: 0;
      }
    }
    .open-coveo-filters-on-mobile {
      display: none;
    }
    @media only screen and (max-width: 768px) {
      .open-coveo-filters-on-mobile {
        display: block;
        width: 100%;
        background-color: #140F4B;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 30px;
      }
      .open-coveo-filters-on-mobile h6 {
        padding: 17.5px 0;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
    .close-coveo-filters-on-mobile {
      display: none;
      color: #FFFFFF;
      position: absolute;
      top: 25px;
      right: 20px;
      z-index: 1052;
    }
    .close-coveo-filters-on-mobile h6 {
      margin-bottom: 0;
      font-weight: 500;
      text-transform: uppercase;
    }
    .close-coveo-filters-on-mobile h6 .mi {
      font-size: 12px;
      position: relative;
      top: 1px;
      margin-left: 6px;
    }
    @media only screen and (max-width: 768px) {
      body::-webkit-scrollbar {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      body::-webkit-scrollbar-thumb {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      body::-webkit-scrollbar-track {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      body::-webkit-scrollbar-track-piece {
        display: none;
        width: 0 !important;
        background-color: transparent;
      }
      .coveo-facet-header-filter-by-container.is-fixed {
        position: fixed;
        z-index: 2000;
        width: 100%;
      }
    }
    @media (max-width: 480px) {
      .CoveoBreadcrumb {
        padding: 0;
      }
      .coveo-results-header {
        padding-left: 0;
        padding-bottom: 5px;
      }
      .coveo-summary-section {
        margin-bottom: 0;
      }
    }
    .magic-box .magic-box-suggestions {
      font-family: 'Effra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #3c3c3c;
      border-color: #B1B3B3;
    }
    .magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion {
      display: block;
      background-color: #FFFFFF;
      /* height: 246px !important; */
    }
    .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input,
    .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input > input,
    .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input,
    .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input > input {
      /* height: 52px; */
      color: #3c3c3c;
      position: relative;
    }

    .CoveoSearchbox {
      border: 1px solid #bfbfbf;
      border-radius: 40px;
      position: relative;
    }

    @media only screen and (max-width: 768px) {
      .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input,
      .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input > input,
      .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input,
      .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input > input {
        height: 48px;
      }
    }
    .searchbar__wrapper .CoveoSearchInterface .coveo-search-section {
      padding-top: 0;
      padding-bottom: 0;
      position: relative;
      -moz-transform: translate(0, 50%);
      -o-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      -webkit-transform: translate(0, 50%);
      transform: translate(0, 0);
    }
    @media only screen and (max-width: 768px) {
      .searchbar__wrapper .CoveoSearchInterface .coveo-search-section {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }

/* BEGIN HEADER CSS */
.comp__medsurg-header {
  .clearfix();
  width: 100%;
  z-index: 1;
  &.mobile-style {
    z-index: 2500;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: @white;
  }

  &.is-positioned {
    position: relative;
  }

  .header__row {
    width: 100%;
  }

  .header__row {
    .flexbox();
    .flex-wrap(nowrap);
    .justify-content(space-between);
    .align-items(center);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @media @desktop {
      display: none;
    }
  }

  .header--left,
  .header--right {
    .flexbox();
    .align-items(center);
  }

  .header--left {
    position: relative;
    top: 2.5px;
  }

  .header__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @media @landscape {
      padding: @header-padding-tb;
    }
    @media @portrait {
      padding: @header-padding-mb;
    }
  }

  .header__items {
    .flexbox();
    .flex-direction(row);
    .flex-wrap(nowrap);
    .justify-content(flex-end);
    .align-items(center);
    height: 100%;
    max-width: 100%;
    width: auto;
    @media @mobile {
      .align-content(flex-start);
    }
  }

  .header__region-select {
    margin-right: 15px;
    @media @landscape {
      display: none;
    }
  }

  .header__user-login {
    margin-right: 15px;

    h6,
    h6 a {
      font-size: @font-size-supernav;
      color: @dark-gray;
      text-transform: none;
      font-weight: 500;
      text-decoration: none;
      margin-bottom: 0;
    }
    span {
      color: @dark-gray;
      font-size: @font-size-supernav;
      margin-left: 4px;
      margin-right: 5px;
    }
    &:hover {
      cursor: pointer;
    }
    .mi-mitg-find-a-rep {
      position: relative;
      top: 2px;
      font-size: 16px;
      padding-right: 2.5px;
    }

    @media @landscape {
      display: none;
    }
  }

  .header__dropdown {
    background-color: @white;
    padding: 0 0;
    border: 0 none;
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    vertical-align: middle;
    text-transform: none;
    &:hover {
      cursor: pointer;
    }

    .material-icons {
      position: relative;
      top: 3px;
      font-size: 17px;
      margin: 0 5px;
      pointer-events: none;
    }
  }

  // ul
  .regions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 436px;
    height: 100vh;
    background-color: @white;
    text-align: left;
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    opacity: 0;
    .transition(opacity, 0.5s, fade-in-out);
    display: none;

    &.animate {
      z-index: 2500;
      display: block;
      opacity: 1;
    }
    @media @landscape {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: @flyout-width-tb;
      transition: 0.5s transform;
      transition-timing-function: cubic-bezier(.38,.52,.37,1);
      opacity: 1;
      display: block;
      box-shadow: none;
      z-index: 2500;
      &.animate {
        transform: translateX(100vw);
        box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
      }
    }
    @media @portrait {
      width: 100vw;
      box-shadow: none;
    }

    .region {
      border-bottom: 1px solid @light-gray;
      margin-bottom: 0;
      position: relative;
      .mi-btb-check {
        display: none;
      }

      a {
        font-size: @font-size-p;
        display: inline-block;
        width: 100%;
        padding: 25px 20px;
        color: @dark-gray;
        font-weight: @font-weight-regular;
        text-transform: none;
        margin-bottom: 0;
        text-decoration: underline;
        @media @landscape {
          padding: 25px 15px;
        }
      }

      &:hover {
        cursor: pointer;
        a {
          color: @electric-blue;
          font-weight: @font-weight-demi;
        }
      }

      &.is-active {
        a {
          color: @electric-blue;
          font-weight: @font-weight-demi;
          text-decoration: none;
        }
        .mi {
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 25px;
          color: @electric-blue;
          font-size: 18px;
          @media @landscape {
            right: 15px;
            top: 22.5px;
          }
        }
      }
    }

    .region.region--title {
      .flexbox();
      .flex-wrap(nowrap);
      .justify-content(space-between);
      .align-items(center);
      background-color: @off-white;
      width: 100%;
      padding: 20px;
      border-bottom: 0 none;
      @media @landscape {
        padding: 15px;
      }

      h5 {
        font-size: 18px;
        margin-bottom: 0;
        color: @dark-gray;
        font-weight: @font-weight-demi;
        @media @landscape {
          line-height: 42px;
        }
      }

      span.mi {
        color: @dark-gray !important;
        font-size: 20px;
      }
    }
  }

  .support-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 436px;
    height: 100vh;
    background-color: @white;
    text-align: left;
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    opacity: 0;
    .transition(opacity, 0.3s, fade-in-out);
    display: none;
    &.animate {
      z-index: 2500;
      display: block;
      opacity: 1;
    }
    @media @landscape {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: @flyout-width-tb;
      transition: 0.5s transform;
      transition-timing-function: cubic-bezier(.38,.52,.37,1);
      opacity: 1;
      display: block;
      box-shadow: none;
      z-index: 2500;
      &.animate {
        transform: translateX(-100vw);
        box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
      }
    }
    @media @portrait {
      width: 100vw;
    }
  }

  // li
  .support-menu__item {
    border-bottom: 1px solid @medium-gray;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    padding: 25px 20px;
    margin-bottom: 0;
    @media @landscape {
      padding: 25px 15px;
    }

    .mi,
    .material-icons {
      color: @electric-blue;
      font-size: 20px;
      margin-right: 10px;
    }

    a {
      .flexbox();
      .flex-wrap(nowrap);
      .align-items(center);
      font-size: @font-size-p;
      width: 100%;
      color: @dark-gray;
      font-weight: @font-weight-demi;
      text-transform: none;
      text-decoration: none;
      margin-bottom: 0;
      position: relative;
      &.phone-num {
        color: @dark-gray;
        .link-appearance {
          color: @electric-blue;
          text-decoration: underline;
          margin-left: 6px;
        }
      }
    }

    .mi-btr-angle-right,
    .mi-btb-angle-right {
      position: absolute;
      right: 0;
      font-size: @font-size-p;
      color: @dark-gray;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .support-menu__item.support-menu__item--title {
    .flexbox();
    .flex-wrap(nowrap);
    .justify-content(space-between);
    .align-items(center);
    width: 100%;
    padding: 20px;
    background-color: @off-white;
    border-bottom: 0 none;
    @media @landscape {
      padding: 15px;
    }

    h4 {
      font-size: 18px;
      font-weight: @font-weight-demi;
      margin-bottom: 0;
      color: @dark-gray;
    }

    span.mi {
      color: @dark-gray !important;
      font-size: 20px;
    }
  }

  .header__main-section {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    @media @portrait {
      padding: 12px 0;
    }

    .header__row--sup {
      .flexbox();
      .flex-wrap(nowrap);
      .justify-content(space-between);
      .align-items(center);
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      @media @landscape {
        padding: @header-padding-tb;
      }
      @media @portrait {
        padding: @header-padding-mb;
      }
    }

    .header__row--sub {
      .flexbox();
      .flex-wrap(nowrap);
      .justify-content(space-between);
      .align-items(center);
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      margin-top: 12px;
      position: relative;
      height: 35px;
      @media @landscape {
        height: 0;
        margin-top: 0;
        padding: @header-padding-tb;
      }
      @media @portrait {
        padding: @header-padding-mb;
      }
    }
  }

  .header__logo {
    a {
      display: block;
    }
    img {
      height: 24px;
      width: auto;
      z-index: 2;
      @media @landscape {
        height: 20px;
      }
      @media @mobile {
        height: 18px;
      }
    }
  }

  .mobile-menu-controller {
    display: none;
    @media @landscape {
      display: inline-block;
      font-size: 20px;
      color: @navy-blue;
      margin-right: 15px;
      cursor: pointer;
      @media @mobile {
        font-size: 18px;
        margin-right: 15px;
      }
    }
  }

  .search__btn {
    display: none;
    @media @landscape {
      display: inline-block;
      font-size: 24px;
      color: @dark-gray;
      margin-right: 20px;
      cursor: pointer;
      .mi {
        position: relative;
        top: 3px;
      }
    }
    @media @mobile {
      font-size: 22px;
      margin-right: 15px;
      .mi {
        top: 2px;
      }
    }
  }

  .header__btn .dynamic-width-button {
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    @media @portrait {
      font-size: 12px;
      padding: 2.5px 7px;
    }
  }

  .dynamic-width-button--ghost .dynamic-width-button {
    margin-top: 0 !important;
  }

  .menu__container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 1;

    .mobile-top-bar-menu {
      display: none;
    }

    @media @landscape {
      background-color: @white;
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 2400;
      height: 100vh;
      overflow-y: auto;
      position: fixed;
      top: 67px;
      left: -100%;
      height: 100vh;
      width: 100%;
      transition: 0.5s transform;
      transition-timing-function: cubic-bezier(.38,.52,.37,1);
      opacity: 1;
      display: block;
      &.animate {
        transform: translateX(100vw);
      }
      // also ul
      .mobile-top-bar-menu {
        display: block;
        padding-inline-start: 0;
        margin-bottom: 0;
        background-color: @white;
        color: @dark-gray;
        font-size: 14px;
        font-weight: 500;

        a, .mi {
          font-size: 14px;
          font-weight: 500;
          color: @dark-gray;
          text-transform: none;
        }
      }
    }
    @media @portrait {
      top: 53.5px;
    }
  }

  // ul
  .main-menu {
    padding-inline-start: 0;
    margin-bottom: 0;
    @media @landscape {
      padding-top: 20px;
      background-color: @white;
    }
  }

  .menu__item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 22px;
    color: @dark-gray;
    @media @landscape {
      display: block;
      margin-right: 0;
      padding: 12px 0;
      border-bottom: 0 none;
    }

    > a {
      display: block;
      color: @dark-gray;
      font-size: 0.95rem;
      font-weight: @font-weight-demi;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      @media @landscape {
        text-align: left;
        padding: 0px 15px;
      }
    }

    &:hover {
      > a {
        opacity: 0.5;
      }
    }

    &.is-active {
      border-bottom: 3px solid @electric-blue;
      padding-bottom: 4px;
      @media @landscape {
        border-bottom: 0 none;
      }
    }

    .mi {
      position: relative;
      top: 1px;
    }

    .material-icons {
      position: relative;
      top: 1px;
      font-size: 14px;
    }

    .mi-fa-caret-down {
      top: 2px;
    }
  }

  .mobile-top-bar-menu {
    width: 100%;
    margin-top: 28px;

    .menu__item {
      padding: 12px 15px;
      text-transform: none;
      &:hover {
        cursor: pointer;
      }

      > a {
        padding: 0px 0px;
      }
    }

    .menu__item:last-child {
      @media @landscape {
        border-bottom: 0 none;
      }
    }

    .menu__item--login {
      text-transform: none;
      @media @landscape {
        padding: 12px 15px;

        .pipe {
          margin-left: 4px;
          margin-right: 5px;
        }
      }
    }
  }

  .searchbar {
    height: auto;
    opacity: 1;
    @media @landscape {
      display: none;
      opacity: 0;
    }

    &.is-open {
      @media @landscape {
        animation: fadeIn 0.3s;
        -webkit-animation: fadeIn 0.3s;
        -moz-animation: fadeIn 0.3s;
        -o-animation: fadeIn 0.3s;
        -ms-animation: fadeIn 0.3s;
        display: block;
        position: fixed;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 500000;
        background-color: white;
        height: 66px;
        padding: 0px 15px;
        box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);
      }
      @media @portrait {
        height: 54.5px;
      }
    }

    .mi-btb-times.js-reset-form {
      position: absolute;
      color: @dark-gray;
      right: 42px;
      top: 10px;
      font-size: 14px;
      display: none;
      &:hover {
        cursor: pointer;
      }
      @media @landscape {
        font-size: 10px;
        right: 50px;
        top: 12px;
      }
    }

    &.is-expanded {
      z-index: @z-index-searchbar;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      @media @landscape {
        width: 100%;
        padding: @header-padding-tb;
      }
      @media @portrait {
        padding: @header-padding-mb;
      }

      .searchbar__wrapper {
        @media @landscape {
          .flexbox();
        }
      }

      .searchbar__wrapper form {
        width: 90%;
        background-color: @white;
        @media @landscape {
          width: 100%;
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


  // cancel search btn
  .cancel-search {
    .phantom-button(@electric-blue);
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
    width: auto;
    padding: 0 20px;
    margin-bottom: 0;
    margin-top: 0;
    @media @landscape {
      padding: 0;
      position: absolute;
      right: 25px;
      bottom: 0px;
      top: 22px;
    }
    @media @portrait {
      top: 15px;
    }
  }

  .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .CoveoOmnibox.magic-box .magic-box-suggestions {
    z-index: 3000 !important;
    left: 25px;
    right: 25px;
  }


  .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box.magic-box-hasFocus .magic-box-suggestions {
    position: absolute;
    display: block;
    min-height: 246px;
    height: 100%;
    z-index: 3000 !important;
  }

  .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box {
    z-index: 3000 !important;
  }

  .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input,
  .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input > input,
  .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input,
  .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input > input {
    height: 35px;
  }

  .CoveoOmnibox.magic-box .magic-box-input .magic-box-underlay {
    height: 35px;
  }

  .CoveoSearchInterface .CoveoSearchbox .magic-box {
    height: 35px;
    border: 0 none !important;
  }

  .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input, .searchbar__wrapper .CoveoSearchInterface .CoveoSearchbox .magic-box .magic-box-input > input, .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input, .searchbar__wrapper .CoveoSearchInterface .CoveoOmnibox .magic-box-clear .magic-box-input > input {
    height: 35px;
  }

  .CoveoSearchInterface .CoveoSearchButton {
    height: 31px;
    width: 20px;
    background-color: transparent;
    border: 0 none;
    z-index: 3002 !important;
    @media @portrait {
      height: 15px;
      width: 20px;
    }
  }

  .CoveoSearchInterface {
    min-width: 222px;
  }

  .magic-box .magic-box-clear,
  .magic-box.magic-box-notEmpty .magic-box-clear {
    color: @dark-gray;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 20px;
    @media @landscape {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 12px;
    }
  }

  .magic-box .magic-box-input .magic-box-underlay,
  .magic-box .magic-box-input > input {
    padding: 10px 10px 10px 45px;
  }

  .coveo-search-button-svg {
    width: 15px;
    height: 15px;
  }

  #searchbox.is-expanded {
    display: inline-block !important;
    min-width: 0;
    width: calc(100% - 106px);
    width: ~"calc(100% - 106px)";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    @media @landscape {
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 15px;
      left: 0;
      padding: 0 95px 0 15px;
    }
    @media @portrait {
      top: 8.5px;
    }
  }

  #searchbox.is-collapsed {
    min-width: 222px;
    position: relative;
    display: block !important;
    margin: 0;
  }
}



.overlay.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.3;
  z-index: 2401;
  @media @portrait {
    display: none !important;
  }
}

.comp__breadcrumbs {
  .clearfix();
  width: 100%;
  height: 42px;
  background-color: @white;
  margin-top: 25px;
  position: relative;
  @media @landscape {
    padding: @header-padding-tb;
    margin-top: 0;
  }
  @media @portrait {
    display: none;
  }
}

.breadcrumbs {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  h6 {
    font-size: 12px;
    font-weight: @font-weight-regular;
    text-transform: none;
    margin-bottom: 0;
    line-height: 42px;
    vertical-align: middle;
    color: @dark-gray;
  }

  a {
    line-height: 42px;
    vertical-align: middle;
    cursor: pointer;
    color: @dark-gray;
    &:hover,
    &:visited {
      color: @dark-gray;
    }
  }

  span.is-active {
    font-size: 12px;
    font-weight: @font-weight-demi;
    text-transform: none;
    margin-bottom: 0;
    line-height: 42px;
    vertical-align: middle;
    color: @dark-gray;
  }

  span.icon {
    color: @dark-gray;
    font-weight: @font-weight-regular;
    line-height: 42px;
    vertical-align: middle;
    position: relative;
  }
}


#searchcontent {
  .magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input > input {
    padding: 12px 49px 12px 40px;
  }
  .magic-box .magic-box-input {
    @media only screen and (max-width: 768px) {
      height: 48px;
    }
  }
  .magic-box .magic-box-suggestions {
    left: 20px;
    right: 20px;
  }
  .CoveoSearchInterface .CoveoSearchButton {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    position: absolute;
    left: 10px;
    top: 18px;
    color: #3c3c3c !important;
    height: 18px;
    width: 18px;
    margin-left: 7px;
    @media only screen and (max-width: 768px) {
      top: 17px;
      left: 10px;
      height: 15px;
      width: 20px;
    }
  }

}

/* END HEADER CSS */
