.comp__product-card {
  .component-reset();

  .product-cards {
    .css-grid();
    column-gap: 16px;
    row-gap: 32px;
    &.product-cards--3-col {
      grid-template-columns: repeat(3, 1fr);
      @media @mobile {
        grid-template-columns: 1fr;
      }
    }
    &.product-cards--4-col {
      grid-template-columns: repeat(4, 1fr);
      @media @portrait {
        grid-template-columns: repeat(2, 1fr);
      }
      @media @mobile {
        grid-template-columns: 1fr;
      }
    }
  }

  .product-card {
    padding: 25px 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .product-card__image {
    .flexbox();
    .justify-content(center);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;

    img {
      .align-self(center);
      max-width: 100%;
    }
  }

  .product-cards.product-cards--3-col {
    .product-card__image {
      height: 285px;
      @media @laptop {
        height: 275px;
      }
      @media @landscape {
        height: 215px;
      }
      @media @portrait {
        height: 250px;
      }
      @media @mobile {
        height: 240px;
      }
      img {
        max-height: 285px;
        height: auto;
        @media @laptop {
          max-height: 275px;
          height: auto;
        }
        @media @landscape {
          max-height: 215px;
          height: auto;
        }
        @media @portrait {
          max-height: 250px;
          height: auto;
        }
        @media @mobile {
          max-height: 240px;
          height: auto;
        }
      }
    }
  }

  .product-cards.product-cards--4-col {
    .product-card__image {
      height: 250px;
      @media @laptop {
        height: 240px;
      }
      @media @landscape {
        height: 185px;
      }
      @media @portrait {
        height: 250px;
      }
      @media @mobile {
        height: 240px;
      }
      img {
        max-height: 250px;
        height: auto;
        @media @laptop {
          max-height: 240px;
          height: auto;
        }
        @media @landscape {
          max-height: 185px;
          height: auto;
        }
        @media @portrait {
          max-height: 250px;
          height: auto;
        }
        @media @mobile {
          max-height: 240px;
          height: auto;
        }
      }
    }
  }

  .product-card__links {
    .full-width-button {
      padding-top: 17px;
      padding-bottom: 17px;
    }

    .full-width-button + .full-width-button {
      margin-top: 12.5px;
    }
  }


  &.theme--off-white {
    .product-card {
      background-color: @white;
    }
  }
  &.theme--white {
    .product-card {
      background-color: @off-white;
    }
  }
}

.comp__product-pagination {
  .outer-gutter();
  margin-top: 50px;
  @media @portrait {
    margin-top: 25px;
  }

  .row {
    .justify-content(space-between);
    .align-items(center);
  }

  .page-indicator {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 400;
    color: @light-gray;
  }

  .product-pagination {
    display: inline;

    .paginater {
      line-height: 1.2;
      color: @charcoal-gray;
      height: 40px;
      margin-right: 7px;
      &.is-clickable {
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
  }
}
