.comp__related-content-slider {
  .component-reset();
  .box-size();

  .slider {
    .flexbox();
    max-width: 1200px;
    width: 100%;
    position: relative;
    min-height: fit-content;
    margin: 0 auto;
    @media @portrait {
      padding-left: 35px;
      padding-right: 0;
    }
    @media @mobile {
      padding-left: 30px;
      padding-right: 0;
    }
  }

  .slider-wrapper {
    box-sizing: border-box;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    @media @landscape {
      width: 894px;
    }
    @media @portrait {
      width: auto;
      overflow-x: scroll;
    }
  }

  // ul
  .slider-deck {
    .flexbox();
    overflow: hidden;
    min-width: 2000%;
    padding: 0px 6px;
    float: left;
    list-style: none;
    margin-bottom: 0;
    padding-inline-start: 0;
    @media @portrait {
      min-width: unset;
      width: auto;
    }
  }

  .slider-card {
    box-sizing: border-box;
    position: relative;
    float: left;
    @media @portrait {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .slider-card a {
    .flexbox();
    .flex-direction(column);
    .justify-content(space-between);
    background-color: @white;
    height: 100%;
    width: 100%;
  }

  .slider-card__body {
    .flexbox();
    .flex-direction(column);
    .justify-content(space-between);
    height: auto;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 25px 25px 0 25px;
    @media @portrait {
      padding: 20px 20px 0 20px;
    }
  }

  .full-width-button {
    padding: 11px 0 11px 0;
  }

  .button {
    margin-bottom: 25px;
  }

  .three-col {
    .slider-card {
      box-sizing: border-box;
      width: ~"calc(1200px / 3)";
      padding: 6px 14px 6px 6px;
      &:last-child {
        padding: 6px 6px 6px 6px;
      }
      @media @landscape {
        width: ~"calc(894px / 3)";
      }
      @media @portrait {
        width: 255px;
      }
      @media @mobile {
        width: 275px;
      }
    }
    .copy {
      h6,
      h6 > p {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 20px;
        @media @portrait {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 15px;
        }
      }

      p, li, li > p {
        font-size: 16px;
        font-weight: @font-weight-regular;
        line-height: 22px;
        margin-bottom: 20px;
        @media @portrait {
          line-height: 22px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .four-col {
    .slider-card {
      box-sizing: border-box;
      width: ~"calc(1200px / 4)";
      padding: 6px 14px 6px 6px;
      &:last-child {
        padding: 6px 6px 6px 6px;
      }
      @media @landscape {
        width: ~"calc(894px / 4)";
      }
      @media @portrait {
        width: 255px;
      }
      @media @mobile {
        width: 275px;
      }
    }
    .copy {
      h6,
      h6 > p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        @media @landscape {
          font-size: 16px;
          line-height: 22px;
        }
      }

      p, li, li > p {
        font-size: 14px;
        font-weight: @font-weight-regular;
        line-height: 22px;

      }
    }
  }

  &.article {
    .three-col,
    .four-col {
      .copy {
        h6,
        h6 > p {
          color: @navy-blue;
          text-decoration: underline;
        }
        p > span.date {
          font-weight: @font-weight-demi;
        }
      }
    }
  }

  &.full-image {
    .slider-deck.three-col {
      .figure {
        position: relative;
        height: 250px;
        @media @laptop {
          height: 250px;
        }
        @media @landscape {
          height: 200px;
        }
        @media @portrait {
          height: 155px;
        }
        @media @mobile {
          height: 200px;
        }
      }
      .video-icon {
        .video-icon-md();

        @media @mobile {
          .video-icon-sm();
        }
      }
    }

    .slider-deck.four-col {
      .figure {
        position: relative;
        height: 185px;
        @media @laptop {
          height: 185px;
        }
        @media @landscape {
          height: 140px;
        }
        @media @portrait {
          height: 155px;
        }
        @media @mobile {
          height: 200px;
        }
      }
      .video-icon {
        .video-icon-sm();
      }
    }
  }

  &.product-image {
    .slider-deck.three-col {
      .figure {
        position: relative;
        height: 405px;
        @media @laptop {
          height: 405px;
        }
        @media @landscape {
          height: 300px;
        }
        @media @portrait {
          height: 250px;
        }
        @media @mobile {
          height: 300px;
        }
      }
      .video-icon {
        .video-icon-lg();
        @media @landscape {
          .video-icon-md();
        }
        @media @mobile {
          .video-icon-sm();
        }
      }
    }

    .slider-deck.four-col {
      .figure {
        position: relative;
        height: 275px;
        @media @laptop {
          height: 275px;
        }
        @media @landscape {
          height: 235px;
        }
        @media @portrait {
          height: 250px;
        }
        @media @mobile {
          height: 225px;
        }
      }
      .video-icon {
        .video-icon-md();

        @media @mobile {
          .video-icon-sm();
        }
      }
    }
  }

  .button-row {
    margin-bottom: 25px;
  }

  .cta-link {
    margin-bottom: 25px;

    .link-text {
      font-size: 16px;
      @media @portrait {
        font-size: 14px;
      }
    }
  }

  /* ALIGNMENT VARIATIONS */
  &.centered {
    .content-card {
      text-align: center;
    }

    .button-row {
      .justify-content(center);
    }

    .three-col {
      .copy {
        h6,
        h6 > p {
          font-size: 18px;
          line-height: 24px;
          @media @portrait {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    .four-col {
      .copy {
        h6,
        h6 > p {
          line-height: 24px;
          margin-bottom: 10px;
          @media @landscape {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .content-card a:hover {
    cursor: pointer;
    .copy h6 {
      color: @electric-blue;
    }
    .cta-link {
      opacity: 0.75;
    }
    .full-width-button {
      color: @white;
      background-color: @electric-blue;
      border-color: @electric-blue;
    }
  }

  .slider-controller {
    .flexbox();
    .align-items(center);
    color: @dark-gray;
    background-color: @white;
    border-radius: 50%;
    border: 2px solid @dark-gray;
    height: 60px;
    width: 60px;
    z-index: 50;
    @media @landscape {
      height: 50px;
      width: 50px;
    }
    @media @portrait {
      display: none;
    }
  }

  .slider-controller:hover {
    color: @electric-blue;
    border-color: @electric-blue;
    background-color: @white;
  }

  .slider-controller:disabled {
    color: @light-gray;
    border-color: @light-gray;
  }

  .slider-controller > span {
    font-size: 28px;
    font-weight: 600;
    @media @landscape {
      font-size: 20px;
    }
  }

  .slider-controller.forward {
    .vertical-align();
    position: absolute;
    right: -70px;
    @media @landscape {
      right: 15px;
    }
    @media @portrait {
      display: none;
    }
  }

  .slider-controller.forward > span {
    transform: rotate(-90deg);
    position: relative;
    left: 12px;
    @media @landscape {
      left: 10px;
    }
  }

  .slider-controller.back > span {
    transform: rotate(90deg);
    position: relative;
    left: 6px;
    @media @landscape {
      left: 5px;
    }
  }

  .slider-controller.back {
    .vertical-align();
    position: absolute;
    left: -75px;
    @media @landscape {
      left: 10px;
    }
    @media @portrait {
      display: none;
    }
  }

  .slider-controller.back .material-icons {
    margin-left: 3px;
  }
}

.modular-listing {
  &.theme--atmospheric-white {
    .slider-card a {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border: 0 none;
    }
  }
  &.theme--white {
    .slider-card a {
      box-shadow: none;
    }
    .full-image {
      .slider-card a {
        border: 1px solid @lightest-gray;
      }
    }
    .product-image {
      .slider-card a {
        border: 1px solid @lightest-gray;
      }
    }
    .product-image.centered {
      .slider-card a {
        border: 0 none;
      }
    }
  }
}
