.comp__multi-column-mixed-content.comp__text-with-icon {
  .component-reset();

  .outer-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .grid-container {
    padding-left: 125px;
    padding-right: 125px;
    @media @landscape {
      padding-left: 80px;
      padding-right: 80px;
    }
    @media @portrait {
      &.one-col,
      &.two-col,
      &.four-col {
        padding-left: 100px;
        padding-right: 100px;
      }
      &.three-col {
        padding-left: 225px;
        padding-right: 225px;
      }
    }
    @media @mobile {
      &.one-col,
      &.two-col,
      &.three-col,
      &.four-col {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }

  .copy {
    text-align: center;

    h3, h4, h5, h6 {
      font-weight: @font-weight-demi;
      text-decoration: none;
    }

    h3, h4, h5, h6, p,
    p.small,
    p.medium,
    p span.small,
    p span.medium {
      margin-bottom: 0;
    }

    p,
    p.small,
    p.medium,
    p span.small,
    p span.medium {
      margin-top: 15px;
    }
  }

  .figure,
  img,
  video {
    max-width: 100%;
    display: block;
  }

  .one-col {
    .figure,
    video {
      height: 425px;
      @media @laptop {
        height: 425px;
      }
      @media @landscape {
        height: 350px;
      }
      @media @portrait {
        height: 275px;
      }
      @media @mobile {
        height: 130px;
      }
    }
  }
  .two-col {
    .figure,
    video {
      height: 230px;
      @media @laptop {
        height: 230px;
      }
      @media @landscape {
        height: 175px;
      }
      @media @portrait {
        height: 135px;
      }
      @media @mobile {
        height: 130px;
      }
    }
  }
  .three-col {
    .figure,
    video {
      height: 150px;
      @media @laptop {
        height: 150px;
      }
      @media @landscape {
        height: 125px;
      }
      @media @portrait {
        height: 150px;
      }
      @media @mobile {
        height: 130px;
      }
    }
  }
  .four-col {
    .figure,
    video {
      height: 130px;
      @media @laptop {
        height: 130px;
      }
      @media @landscape {
        height: 110px;
      }
      @media @portrait {
        height: 125px;
      }
      @media @mobile {
        height: 130px;
      }
    }
  }

  .one-col {
    grid-template-columns: 1fr;
    @media @mobile {
      row-gap: 50px;
    }

    .figure,
    img,
    video {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      position: relative;
    }
  }

  .two-col {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 75px;
    @media @landscape {
      column-gap: 70px;
    }
    @media @mobile {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }

    .figure,
    img,
    video {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      position: relative;
    }

    @media @portrait {
      p.medium,
      p span.medium {
        font-size: 16px;
      }
    }
  }

  .three-col {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 75px;
    @media @landscape {
      column-gap: 70px;
    }
    @media @portrait {
      grid-template-columns: 1fr;
      row-gap: 70px;
    }
    @media @mobile {
      row-gap: 50px;
    }

    .figure,
    img,
    video {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
      position: relative;
    }
  }

  .four-col {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    @media @portrait {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 70px;
      row-gap: 40px;
    }
    @media @mobile {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }

    .figure,
    img,
    video {
      position: relative;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .copy {
      p.small,
      p.medium,
      p span.small,
      p span.medium {
        margin-top: 20px;
      }
    }
  }

  figure,
  .figure {
    background-size: contain !important;
  }

  &.img-shape--circle {
    .figure,
    .figure img,
    video {
      border-radius: 50% 50%;
      overflow: hidden;
    }
    .one-col {
      .figure,
      .figure img,
      video {
        height: 500px;
        width: 500px;
        @media @laptop {
          height: 500px;
          width: 500px;
        }
        @media @landscape {
          height: 400px;
          width: 400px;
        }
        @media @portrait {
          height: 350px;
          width: 350px;
        }
        @media @mobile {
          height: 250px;
          width: 250px;
        }
      }
    }
    .two-col {
      .figure,
      .figure img,
      video {
        height: 400px;
        width: 400px;
        @media @laptop {
          height: 400px;
          width: 400px;
        }
        @media @landscape {
          height: 325px;
          width: 325px;
        }
        @media @portrait {
          height: 225px;
          width: 225px;
        }
        @media @mobile {
          height: 250px;
          width: 250px;
        }
      }
    }
    .three-col {
      .figure,
      .figure img,
      video {
        height: 250px;
        width: 250px;
        @media @laptop {
          height: 250px;
          width: 250px;
        }
        @media @landscape {
          height: 215px;
          width: 215px;
        }
        @media @portrait {
          height: 250px;
          width: 250px;
        }
        @media @mobile {
          height: 250px;
          width: 250px;
        }
      }
    }
    .four-col {
      .figure,
      .figure img,
      video {
        height: 200px;
        width: 200px;
        @media @laptop {
          height: 200px;
          width: 200px;
        }
        @media @landscape {
          height: 165px;
          width: 165px;
        }
        @media @portrait {
          height: 225px;
          width: 225px;
        }
        @media @mobile {
          height: 250px;
          width: 250px;
        }
      }
    }
  }
}
