@import "mixins/transitions";

.button-default-styles() {
  .box-size();
  font-size: 16px;
  text-align: center;
  font-weight: @font-weight-demi;
  border: 0 none;
  border-radius: 30px;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  &:hover {
    cursor: pointer;
  }
  @media @landscape {
    margin-top: 15px;
  }
  @media @mobile {
    font-size: 14px;
  }
}

.dynamic-width-button() {
  .button-default-styles();
  text-align: center;
  display: inline-block;
}

.solid-button(@color, @bg-color, @hvr-color) {
  .button-default-styles();
  .ease-all();
  color: @color;
  background-color: @bg-color;
  border: 1px solid @bg-color;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  &:visited {
    color: @color;
  }
  &:hover {
    cursor: pointer;
    color: @bg-color;
    border-color: @bg-color;
    background-color: @hvr-color;
  }
}

.ghost-button(@color, @bg-color, @hvr-color) {
  .button-default-styles();
  .ease-all();
  color: @color;
  background-color: @bg-color;
  border: solid 1px @color;
  &:visited {
    color: @color;
  }
  &:hover {
    cursor: pointer;
    color: @hvr-color;
    background-color: @color;
    border-color: @color;
  }
}

.invisible-button(@color, @bg-color) {
  .button-default-styles();
  .ease-all();
  color: @color;
  background-color: transparent;
  border: solid 1px @color;
  &:visited {
    color: @color;
  }
  &:hover {
    cursor: pointer;
    color: @bg-color;
    background-color: @color;
    border-color: @color;
  }
}

.phantom-button(@color) {
  font-size: 16px;
  color: @color;
  background: @white;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  font-weight: @font-weight-demi;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
