.make-row() {
  .make-col-span(12);
  .flexbox();
}

.make-col-span(@size) {
  flex: 0 0 percentage(@size / @grid-columns);
}

.make-col-offset(@size) {
  margin-left: percentage(@size / @grid-columns);
}

.make-col-push(@size) {
  & when (@size > 0) {
    left: percentage((@size / @grid-columns), auto);
  }
}

.make-col-pull(@size) {
  & when (@size > 0) {
    right: percentage((@size / @grid-columns), auto);
  }
}
