// generic transform
.transform(@transforms) {
     -moz-transform: @transforms;
       -o-transform: @transforms;
      -ms-transform: @transforms;
  -webkit-transform: @transforms;
          transform: @transforms;
}

// translate
.translate(@x, @y) {
  .transform(translate(@x, @y));
}
