.video-icon-lg() {
  width: 112px;
  height: 112px;
  > img {
    width: 112px !important;
    height: 112px !important;
  }
  .material-icons {
    font-size: 112px;
  }
}

.video-icon-md() {
  width: 84px;
  height: 84px;
  > img {
    width: 84px !important;
    height: 84px !important;
  }
  .material-icons {
    font-size: 84px;
  }
}

.video-icon-sm() {
  width: 68px;
  height: 68px;
  > img {
    width: 68px !important;
    height: 68px !important;
  }
  .material-icons {
    font-size: 68px;
  }
}

.video-icon-xs() {
  width: 48.5px;
  height: 48.5px;
  > img {
    width: 48.5px !important;
    height: 48.5px !important;
  }
  .material-icons {
    font-size: 48.5px;
  }
}

.inplacevideo-size(1) {
  height: 65px;
  width: 65px;
  span {
    font-size: 28px;
  }
  @media @portrait {
    height: 55px;
    width: 55px;
    span {
      font-size: 22px;
    }
  }
  @media @mobile {
    height: 48px;
    width: 48px;
    span {
      font-size: 18px;
    }
  }
}

.inplacevideo-position(1) {
  top: 15px;
  right: 15px;
  @media @landscape {
    top: 12px;
    right: 12px;
  }
  @media @portrait {
    top: 10px;
    right: 10px;
  }
  @media @mobile {
    top: 8px;
    right: 8px;
  }
}

.inplacevideo-size(2) {
  height: 65px;
  width: 65px;
  span {
    font-size: 28px;
  }
  @media @portrait {
    height: 55px;
    width: 55px;
    span {
      font-size: 22px;
    }
  }
  @media @mobile {
    height: 48px;
    width: 48px;
    span {
      font-size: 18px;
    }
  }
}

.inplacevideo-position(2) {
  top: 15px;
  right: 15px;
  @media @landscape {
    top: 12px;
    right: 12px;
  }
  @media @portrait {
    top: 10px;
    right: 10px;
  }
  @media @mobile {
    top: 8px;
    right: 8px;
  }
}

.inplacevideo-size(3) {
  height: 55px;
  width: 55px;
  span {
    font-size: 22px;
  }
  @media @landscape {
    height: 48px;
    width: 48px;
    span {
      font-size: 18px;
    }
  }
  @media @portrait {
    height: 55px;
    width: 55px;
    span {
      font-size: 22px;
    }
  }
  @media @mobile {
    height: 48px;
    width: 48px;
    span {
      font-size: 18px;
    }
  }
}

.inplacevideo-position(3) {
  top: 10px;
  right: 10px;
  @media @landscape {
    top: 12px;
    right: 12px;
  }
  @media @portrait {
    top: 10px;
    right: 10px;
  }
  @media @mobile {
    top: 8px;
    right: 8px;
  }
}

.inplacevideo-size(4) {
  height: 48px;
  width: 48px;
  span {
    font-size: 18px;
  }
  @media @portrait {
    height: 55px;
    width: 55px;
    span {
      font-size: 22px;
    }
  }
  @media @mobile {
    height: 48px;
    width: 48px;
    span {
      font-size: 18px;
    }
  }
}

.inplacevideo-position(4) {
  top: 10px;
  right: 10px;
  @media @landscape {
    top: 12px;
    right: 12px;
  }
  @media @portrait {
    top: 10px;
    right: 10px;
  }
  @media @mobile {
    top: 8px;
    right: 8px;
  }
}
