.outer-gutter {
  .box-size();
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media @laptop {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media @landscape {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media @portrait {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media @mobile {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.inner-gutter {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  @media @landscape {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media @mobile {
    padding-left: 0;
    padding-right: 0;
  }
}
