.dotted-border--navy-blue > video {
  border: 10px dotted @navy-blue;
}

.dotted-border--electric-blue > video {
  border: 10px dotted @electric-blue;
}

.dotted-border--dark-blue > video {
  border: 10px dotted @dark-blue;
}

.dotted-border--medium-blue > video {
  border: 10px dotted @medium-blue;
}

.dotted-border--light-blue > video {
  border: 10px dotted @light-blue;
}

.dotted-border--light-orange > video {
  border: 10px dotted @light-orange;
}

.dotted-border--orange > video {
  border: 10px dotted @orange;
}

.dotted-border--pink > video {
  border: 10px dotted @pink;
}

.dotted-border--magenta > video {
  border: 10px dotted @magenta;
}

.dotted-border--light-red > video {
  border: 10px dotted @light-red;
}

.dotted-border--bright-purple > video {
  border: 10px dotted @bright-purple;
}

.dotted-border--medium-purple > video {
  border: 10px dotted @medium-purple;
}

.dotted-border--green > video {
  border: 10px dotted @green;
}

.dotted-border--teal > video {
  border: 10px dotted @teal;
}
