a.dynamic-width-button,
button.dynamic-width-button,
.dynamic-width-button {
  .dynamic-width-button();
}

a.dynamic-width-button--solid,
button.dynamic-width-button--solid,
input.dynamic-width-button--solid {
  padding: 14px 32px;
  @media @mobile {
    padding: 12px 28px;
  }
}

.dynamic-width-button--solid {
  a.dynamic-width-button,
  button.dynamic-width-button {
    padding: 14px 32px;
    @media @mobile {
      padding: 12px 28px;
    }
  }
}

a.dynamic-width-button--ghost,
button.dynamic-width-button--ghost {
  padding: 14px 32px;
  @media @mobile {
    padding: 12px 28px;
  }
}

.dynamic-width-button--ghost {
  a.dynamic-width-button,
  button.dynamic-width-button {
    padding: 14px 32px;
    @media @mobile {
      padding: 12px 28px;
    }
  }
}

a.full-width-button--solid,
button.full-width-button--solid {
  .button-default-styles();
  border-radius: 60px !important;
  width: 100%;
  display: block;
}

.full-width-button--solid {
  a.full-width-button,
  button.full-width-button {
    .button-default-styles();
    border-radius: 60px !important;
    width: 100%;
    display: block;
  }
}

a.full-width-button--ghost,
button.full-width-button--ghost {
  border-radius: 60px !important;
  width: 100%;
  display: block;
}

.full-width-button--ghost {
  a.full-width-button,
  button.full-width-button {
    border-radius: 60px !important;
    width: 100%;
    display: block;
  }
}

a.full-width-button--with-icon,
button.full-width-button--with-icon {
  .flexbox();
  .justify-content(space-between);
  .align-items(center);
  padding: 32px 40px;
  .button-text {
    font-size: 18px;
  }
  .button-icon {
    font-size: 24px;
  }
  @media @landscape {
    padding: 25px 28px;
    .button-text {
      font-size: 16px;
    }
    .button-icon {
      font-size: 20px;
    }
  }
}

.full-width-button--with-icon {
  a.full-width-button,
  button.full-width-button {
    .flexbox();
    .justify-content(space-between);
    .align-items(center);
    padding: 32px 40px;
    .button-text {
      font-size: 18px;
    }
    .button-icon {
      font-size: 24px;
    }
    @media @landscape {
      padding: 25px 28px;
      .button-text {
        font-size: 16px;
      }
      .button-icon {
        font-size: 20px;
      }
    }
  }
}

a.full-width-button--centered,
button.full-width-button--centered {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  @media @landscape {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
  }
}

.full-width-button--centered {
  a.full-width-button,
  button.full-width-button {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    @media @landscape {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 14px;
    }
  }
}

.button-row {
  .flexbox();
  .flex-wrap(nowrap);
  .align-content(center);
  @media @portrait {
    .flex-wrap(wrap);
  }

  .dynamic-width-button {
    @media only screen and (max-width: 480px) {
      display: block;
      width: 100%;
    }
  }

  .dynamic-width-button + .dynamic-width-button {
    margin-left: 14px;
    @media only screen and (max-width: 480px) {
      margin-left: 0;
    }
  }
}
