.scroll-container {
  position: relative;
  display: block;

  .text {
    height: auto;
    margin: 150vh 0;
    // text-align: center;
    color: white;
  }

  .text:first-child {
    margin-top: -50vh;
  }

  .scrollable-text-wrapper {
    .flexbox();

    &.left-col {
      .justify-content(flex-start);
      .scroll-sequence__content {
        padding-left: 150px;
        @media @portrait {
          width: 100%;
          padding-left: 70px;
        }
        @media @mobile {
          padding-left: 30px;
        }
      }
    }

    &.center-col {
      .justify-content(center);
      .scroll-sequence__content {
        padding-left: 50px;
        padding-right: 50px;
        @media @portrait {
          width: 100%;
          padding-left: 35px;
          padding-right: 35px;
        }
        @media @mobile {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &.right-col {
      .justify-content(flex-end);
      .scroll-sequence__content {
        padding-right: 150px;
        @media @portrait {
          width: 100%;
          padding-right: 70px;
        }
        @media @mobile {
          padding-right: 30px;
        }
      }
    }
  }

  .scroll-sequence__content {
    .make-col-span(5);
    max-width: 40%;
    padding: 4em;
    height: 1400px;
    @media @portrait {
      .make-col-span(12);
      max-width: 100%;
    }
    @media @mobile {
      height: 1000px;
      padding: 0;
    }
  }

  .scroll-sequence {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
