// ul
.list {
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;
  margin-bottom: 40px;
  @media @portrait {
    margin-bottom: 30px;
  }
  @media @mobile {
    margin-bottom: 20px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
    @media @laptop {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.modular-copy.stylized-list {
  ul {
    padding-inline-start: 10px;
    list-style-type: none !important;

    li {
      font-size: 18px;
      line-height: 26px;
      padding-left: 1.3em;
      @media @laptop {
        font-size: 16px;
        line-height: 24px;
      }

      &:before {
        content: "\e86c"; /* Google Material Unicode */
        font-family: Material Icons;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
        font-size: 26px;
        line-height: 26px;
        top: 6px;
        position: relative;
        @media @laptop {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }
}
