// Modal
.modal {
  background-color: @white;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  .translate(-50%, -50%);
  z-index: @z-index-modal;
  display: none;
}

// Modal background
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: @z-index-modal-bg;
  background-color: @modal-overlay-bg;
  display: none;

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: @modal-overlay-opacity;
  }
}
