.comp__section-spacer {
  .spacer(150px);
  @media @laptop {
    .spacer(140px);
  }
  @media @landscape {
    .spacer(115px);
  }
  @media @mobile {
    .spacer(65px);
  }

  &.zero-height-mobile {
    @media @mobile {
      .spacer(0px);
    }
  }
}

.comp__section-spacer--sm {
  .spacer(110px);
  @media @laptop {
    .spacer(100px);
  }
  @media @landscape {
    .spacer(85px);
  }
  @media @mobile {
    .spacer(45px);
  }

  &.zero-height-mobile {
    @media @mobile {
      .spacer(0px);
    }
  }
}

.comp__component-spacer {
  .spacer(75px);
  @media @laptop {
    .spacer(70px);
  }
  @media @landscape {
    .spacer(50px);
  }
  @media @mobile {
    .spacer(40px);
  }

  &.zero-height-mobile {
    @media @mobile {
      .spacer(0px);
    }
  }
}

.comp__component-spacer--sm {
  .spacer(35px);
  @media @laptop {
    .spacer(30px);
  }
  @media @landscape {
    .spacer(20px);
  }
  @media @mobile {
    .spacer(10px);
  }

  &.zero-height-mobile {
    @media @mobile {
      .spacer(0px);
    }
  }
}
