.theme--white {
  .theme--white();
}

.theme--atmospheric-white {
  .theme--atmospheric-white();
}

.theme--navy-blue {
  .theme--navy-blue();
}

.theme--electric-blue {
  .theme--electric-blue();
}

.theme--black {
  .theme--black();
}

.theme--invisible {
  .theme--invisible();
}
